.acf_terms_list_each{
    margin-bottom: 15px;
}
.acf_terms_list_wrap .acf_terms_list_select_wrap{
    display: inline-block;
    width: calc(100% - 200px);
}
.acf_terms_list_wrap button{
    height: 30px;
    min-width: 30px;
    vertical-align: middle;
}
.campus_admin_loading:after{
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: .7;
    background: #fff;
}
.campus_order_filter_items [type = "text"]{
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;

}
.campus_order_filter_items select[multiple]{
    height: 200px;
}

.acf-notice {
    position: relative;
    display: block;
    color: #fff;
    margin: 5px 0 15px;
    padding: 3px 12px;
    background: #2a9bd9;
    border-left: #1f7db1 solid 3px;
}
.acf-notice.-error {
    background: #d94f4f;
    border-color: #c92c2c;
}
.acf-field .acf-notice {
    margin: 0 0 15px;
    background: #edf2ff;
    color: #0c6ca0;
    border-color: #2183b9;
}
.acf-field .acf-notice.-error {
    background: #ffe6e6;
    color: #cc2727;
    border-color: #d12626;
}

ul.pods-dfv-list li.pods-dfv-list-remove a:before,
ul.pods-dfv-list li.pods-dfv-list-edit a:before {
    margin: 0 !important;
    right: 0;
    contain: size;
    position: absolute
}

ul.pods-dfv-list li.pods-dfv-list-remove a,
ul.pods-dfv-list li.pods-dfv-list-edit a {
    position: relative;
}

.settings-error{
    background: #ffe6e6;
}
/*.priority-control-wrap {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    border:2px solid blue;*/
/*    display: flex;*/
/*}*/
/*.wraping-div{*/
/*    border: 2px solid green;*/
/*    margin: auto;*/
/*    height: 100%;*/

/*}*/