/* Header */
.catalog-banner{
  height: 194px;
  background: #333433;
  display: flex;
  justify-content: center;
  position: relative;

  .back-img-1 {
    background: url("../../assets/images/catalog-img1.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 245px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
  }
  .back-img-2 {
    background: url("../../assets/images/catalog-img2.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 313px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  .catalog-banner-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

      .catalog-header{
        font-family: 'Assistant';
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 42px;
        text-align: center;
        margin-bottom: 0;
      }
  }
  .hero-search-form {
    position: relative;
    z-index: 2;
    display: inline-block;
    margin: 15px 0 18px 0;
  .search-field.form-control {
    height: 55px;
    font-weight: 400;
    width: 375px;
    font-size: 18px;
    padding-right: 25px;
    &::placeholder {
      color: #69696991;
      font-size: 18px;
    }
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
  .search-submit {
    cursor: pointer;
    width: 45px;
    height: 45px;
    background: #F1595A;
    border-radius: 33px;
    font-size: 0;
    border: 0;
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url("../../assets/images/search-red.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 3;
  }
  .search-error-message {
      z-index: 3;
      position: absolute;
      top: 46px;
      right: 22px;
      width: 148px;
      height: 46px;
      background: #FFFFFF;
      box-shadow: 0 5px 15px rgba(40, 40, 40, 0.2);
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 4px 10px;
      gap: 2px;

      span {
        flex: none;
        order: 0;
        flex-grow: 0;
        color: #B9090B;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        text-align: right;
      }
    }
}
}

/* Filters menu */
.filtersWrap{
  display: flex;
  flex-direction: row;
  min-height: 100px;
  width: 80%;
}
.filtersSection{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
  align-items: center;
  padding: 0;
  left: 0;
  order: 0;
  flex-grow: 0;
  margin: 34px 100px auto 0;
  .allFiltersWrapDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    top: 0;
    order: 0;
    flex-grow: 0;

    .checkboxFiltersWrap{
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 0;
      position: relative;
      top: 0;
      flex-grow: 0;
      flex-wrap: wrap;

        #groupFiltersContainer{
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
        }

        .wrapEachFiltergroup {
          position: relative;
          margin-bottom: 10px;

          .extraButtonsWrap{
            display: flex;
          }
          }

        .wrapEachFilterTag, .wrapEachFilterButton{
          display: flex;
          align-items: center;
          height: 38px;
          background: #F9F9F9;
          border-radius: 10px;
          margin: 0 5px;
          cursor: pointer;

          .buttonWrap{
            display: flex;
            flex-direction: row;
            align-items: center;
            border-radius: 22px;
            margin: 0 10px;
            }
          .resetFilterButton{
            cursor: pointer;
          }
          }

        #resetButton{
          cursor: unset;
          margin-left: 12px;
        }

        .wrapEachFilterButton{
          .filterVector{
            margin-top: 1px;
          }
        }

        .filterGroupTitle{
          font-family: 'Assistant';
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 18px;
          text-align: right;
          color: #333433;
          margin:auto;
        }

        #selectedTags {
          display: flex;
          flex-direction: row;
          margin-top: 7px;

          .selected-tag {
            width: fit-content;
            padding: 2px 10px;
            background: #141414;
            border: 1px solid rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            color: #fff;
            font-weight: 600;
            font-size: 14px;
            line-height: 18px;
            margin: 0 5px;
          }
        }
      }
    }
  }
.filterVectorMobile{
  display:none;
}

.openFiltersMenu{
  display: none;
  cursor: pointer;
  position: absolute;
  left: 30px;

  .filterVector{
    margin-bottom: 3px;
  }
}
.filterVector{
  margin: 0;
  margin-right: 7px;
}
/* filter inputs- popup menu */
.inputsContainer {
  display:none;
  z-index: 3;
  position: absolute;
  top:44.5px;
  max-width: 200px;
  max-height: 310px;
  overflow-y: auto;
  background: #FFFFFF;
  box-shadow: 0 5px 15px rgba(40, 40, 40, 0.2);
  border-radius: 10px;
  margin: 0 5px 0 5px;
  padding: 0 15px 0 0;
  .filterInput{
    background: #FFFFFF;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 10px 0 10px 14px;
    .filterTagLabel{
      display: flex;
      align-items: center;
      padding: 0;
      margin:0;

      .tagNameWrap {
        display: flex;
        padding: 0;
        text-align: unset;
        width:100%;
        cursor: pointer;
        align-items: center;

        &::before{
          min-width:20px;
          min-height: 20px;
          border: 1px solid rgba(0, 0, 0, 0.1);
          border-radius: 5px;
          line-height: 16px;
          font-size: 10px;

        }
        &::after{
          display: none;
        }
        .term-name {
          font-family: 'Assistant';
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          color: #333433;
          text-align: right;
          width: max-content;
          line-height: normal;
          max-width:unset;
          display: -webkit-box;
          overflow: hidden;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          height: auto;
        }
      }
    }
  }
}

.animate-expand-y {
  animation: expandY 0.3s ease-in-out forwards;
}

.checkbox-filter-search:checked ~ .wrap-term-and-sum:before {
  background-color: black;
}


#resetButton{
  background-color: transparent;

  .resetFilterButton {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    color: #589CA5;
  }
}

/* counter + sort by */
.counterWrap{
  position: relative;
  margin: 34px 10px 0 120px;
  height: fit-content;
  p{
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    margin:0;
    span{
      font-weight: 700;
    }
  }
}
.sortByWrapper{
  display: flex;
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  height: 38px;
  #border{
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    height: 31px;
    margin: auto;
  }
  #sortByButton{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;

    margin-right: 12px;
    p{
      margin: auto;
      width: max-content;
    }
  }
  #sortByOptions{
    display:none;
    flex-direction: column;
    z-index: 3;
    position: absolute;
    top:44.5px;
    overflow-y: auto;
    background: #FFFFFF;
    box-shadow: 0 5px 15px rgba(40, 40, 40, 0.2);
    border-radius: 10px;
    width: max-content;
    &.active{
      display: flex;
    }
    .sortOption{
      padding: 11px 15px 11px 15px;
      cursor: pointer;
      &.active{
        background: #E5E5E5;
      }
    }
  }
}
/* media query */
@media (max-width: 1200px) {
  .filtersWrap{
    width: 70%;
  }
}
@media (max-width: 992px) {
  .catalog-banner{
    .back-img-1 {
      background: url("../../assets/images/catalog-img1-mobile.svg");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 66px;
      height: 81px;
      position: absolute;
      right: 0;
      bottom: 0;
      top: unset;
    }
    .back-img-2 {
      background: url("../../assets/images/catalog-img2-mobile.svg");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 51px;
      height: 128px;
      position: absolute;
      left: 0;
      bottom: 0;
      top: unset;
    }
    .catalog-banner-content{


      .catalog-header{
        display: none;
      }
    }
  }

  #groupFiltersContainer{
    flex-wrap: wrap;
  }

}

@media (max-width: 768px) {
  .navFiltersMenu{
    display: flex;
    position: fixed;
    top: 0;
    z-index: 8;
    width: 100%;
    background-color: #333433;
    height: 63px;
    .resetFilterButton{
      font-size: 12px;
      line-height: 16px;
      color: #70C6D1;
      font-weight: 700;
      margin: auto 16px auto;
      cursor: pointer;
    }
  }
  .buttonNavFiltersMenu{
    display: flex;
    position: fixed;
    z-index: 8;
    width: 100%;
    bottom: 0;
    background-color: #ffffff;
    -webkit-box-shadow: 0px -9px 19px -10px rgba(0,0,0,0.06);
    box-shadow: 0px -9px 19px -10px rgba(0,0,0,0.06);
    .buttonFilterWrap{
      display: flex;
      background: #91C653;
      border-radius: 30px;
      width: 90%;
      margin: 21.5px auto;
      height: 57px;
      z-index: 8;
      cursor: pointer;
      .filterButtonMobileMenu{
        margin: auto;
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        color: #FFFFFF;
      }
    }
  }
  #filtersSectionMobile{
    position: relative;
    height: 92%;
    top: 63px;
    overflow-y: auto;
    padding-bottom: 100px;
  }
  .wrapEachFiltergroup{
    display: flex;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    height: fit-content;
    flex-direction: column;
    .wrapEachFilterTag{
      display: flex;
      width: 100%;
      cursor: pointer;
    }
  }
  .buttonWrap{
    display: flex;
    width: 100%;
    height: 69px;
    justify-content: space-between;
    .filterGroupTitle{
      margin: auto 24px auto auto;
      font-weight: 600;
      font-size: 22px;
      line-height: 29px;
    }
  }
  .filterVectorMobile{
    display: unset;
    margin: auto auto auto 23px;
    transition: transform 0.2s ease-in-out;
    &.active {
      transform: rotate(180deg);
      transition: transform 0.2s ease-in-out;
    }
  }
  .filtersWrap{
    width: 100%;
    min-height: unset;
    .filtersSection{
      width: 100%;
      margin: 16px 6px 0 0;
      .wrapEachFiltergroup ,#resetButton {
        display: none;
      }
      .sortByWrapper{
        .filterVector{
          display: unset;
        }
      }
      #border{
        display: none;

      }
    }
  }
  .counterWrap{
    margin: 13px 19px 0 0;
  }

  .openFiltersMenu{
    display: unset;
    .filterVector{
      display: unset;
    }
  }
  .filterVector{
    display: none;
  }
  .filterMenuOverlay{
    z-index:6;
  }

  .inputsContainer {
    display: flex;
    flex-direction: column;
    position: unset;
    box-shadow: unset;
    max-width: unset;
    max-height: unset;
    overflow-y: unset;
    padding: 0;
    margin: 0 28px 0 0;
    .filterInput{
      .filterTagLabel{
        .tagNameWrap {
          .term-name {
            padding-right: 10px;
          }
        }
      }
    }
  }
  .catalog-banner {
    height: 93px;
  }
}

@media (max-width: 360px) {
  .catalog-banner {
    .hero-search-form {
      .search-field.form-control {
        width: 342px;
        font-size: 16px;

        &::placeholder {
          font-size: 16px;
        }
      }
    }
  }
}


/* course result presentation */
.catalogPageBox{
  margin: 0;
}


#coursesBox{
  flex-direction: column;
  margin: 60px 0 0 0;
  align-self: center;
  width:100%;
  padding-right: 190px;
}
.courseResultCard {
  display: flex;
  height: 160px;
  max-width: 100%;
  .courseImage {
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 253px;
    width: 100%;
    height: 124px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(40, 40, 40, 0.2);
    a {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
    }
    .info-button {
      display: none;
      position: absolute;
      cursor: pointer;
      right: 10px;
      top: 10px;
      background-image: url("../../assets/images/info-button.png");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 20px;
      height: 20px;
      filter: drop-shadow(0px 5px 10px black);
    }
  }

  .itemContent {
    margin: 7px 20px 0 0;
    max-width: 100%;
    flex-basis:calc(100% - 120px);

    h3 {
      font-weight: 600;
      font-size: 22px;
      line-height: 29px;
      margin: 0 0 8px 0;
      text-overflow: ellipsis;
      overflow: hidden;
      text-align: right;
      -webkit-line-clamp: 2;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      a {
        color: #000000;
      }
    }
    .tagsDiv{
      display: flex;

      .courseTag{
        background: #F2F2F2;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
        border-radius: 10px;
        margin-left: 10px;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        text-align: center;
        text-overflow: ellipsis;
        flex-basis: 30%;
        max-width: fit-content;
        p{
          font-weight: 500;
          font-size: 14px;
          line-height: 18px;
          margin: 1px 10px;
          padding: 2px 10px;
          white-space: nowrap;
          overflow: hidden;
          margin: 0;
          width: 100%;
          text-overflow: ellipsis;
        }
      }
      .plusTag{
        display: none;
      }
    }
    .institutionName{
      font-weight: 300;
      font-size: 16px;
      line-height: 21px;
      opacity: 0.5;
      margin: 8px 0px;
    }

    .courseDuration{
      font-weight: 300;
      font-size: 14px;
      line-height: 18px;
      opacity: 0.5;
      margin: 5px 0;
    }
  }

}

/** No result in course search */
.noResultText{
  font-weight: 600;
  font-size: 22px;
  line-height: 29px;
}

  @media (max-width: 1200px) {
    #coursesBox{
      padding-right: 80px;
    }
    .courseResultCard {
      .itemContent {
        .tagsDiv{
          .courseTag {
            overflow: hidden;
          }
          .hiddenCourseTagMobile{
            display: none;
          }
          .plusTag{
            display: unset;
            width: 26px;
            height: 20px;
            max-width: unset;
            flex-basis: unset;
          }
        }
        .courseDuration{
          display: none;

        }
      }
    }
  }
  @media (max-width: 768px) {
    #coursesBox{
     padding-right: 0;
      padding-left: 10px;
    }
    .courseResultCard {
      display: flex;
      height: 160px;
      .courseImage {
        max-width: 190px;
        .info-button {
          display: block;
        }
      }
      .itemContent {
        margin: 0 20px 0 0;
        flex-basis:calc(100% - 190px);
        max-width: 50%;

        .tagsDiv{
          display: flex;
          flex-direction: row;
          justify-content: right;
          height: 22px;
          margin: 0;
          overflow: hidden;
          max-width: 100%;
          overflow: unset;

          .courseTag{

            p{
              font-weight: 500;
              font-size: 14px;
              line-height: 18px;
              margin:0;
              padding: 2px 3px;
            }
          }
        }
      }
    }
  }

@media (max-width: 490px) {
  .courseResultCard {
    margin-bottom: 25px;
    height: 97px;
    .courseImage {
      flex-basis: 166px;
      max-width: 166px;
      height: 97px;
    }
    .itemContent {
      flex-basis:calc(100% - 120px);
      h3{
        line-height: 24px;
        font-size: 18px;
        margin: 0;
      }
      .institutionName{
        margin: 0 0 3px 0;
      }
      .tagsDiv{
        .courseTag {
          margin-left: 2px;
        }
      }
    }
  }
  }

.coursesContainer {
  width: 100%;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
}
.wrapCourseContent{
  max-width: 1440px;
  margin: 0 auto;
}

@keyframes expandY {
  from {max-height: 44px; }
  to {max-height: 310px;}
}