
.catalog-banner{
  height: 194px;
  background: #333433;
  display: flex;
  justify-content: center;
  position: relative;

  .back-img-1 {
    background: url("../../assets/images/catalog-img1.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 242px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
  }
  .back-img-2 {
    background: url("../../assets/images/catalog-img2.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 313px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  .hero-search-form {
  z-index: 2;
  display: inline-block;
  .search-field.form-control {
    height: 55px;
    width: 375px;
    font-size: 18px;
    padding-right: 25px;
    &::placeholder {
      color: #69696991;
      font-size: 18px;
    }
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
  .search-submit {
    cursor: pointer;
    width: 45px;
    height: 45px;
    background: #F1595A;
    border-radius: 33px;
    font-size: 0;
    border: 0;
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url("../../assets/images/search-red.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 3;
  }
}
}

.inputsContainer {
  border: 1px solid blue;
  /* Auto layout */
  //display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0px;
  z-index: 5;
  position: absolute;
  margin: 10px 10px;
  left: 0px;
  right: 0px;
    display:none;

  /* White */

  background: #FFFFFF;
  /* Fields/Shadow */

  box-shadow: 0px 5px 15px rgba(40, 40, 40, 0.2);
  border-radius: 10px;

  .filterInput{
    border: 1px solid purple;
      /* Auto layout */
      //display: flex;
      //flex-direction: column;
      //justify-content: center;

      padding: 10px 15px 10px 20px;

      position: static;
      width: 173px;
      height: 40px;
      left: 28px;
      top: 168px;

      background: #FFFFFF;
      border-radius: 10px;
    box-sizing: border-box;

      /* Inside auto layout */

      flex: none;
      order: 4;
      flex-grow: 0;
      margin: 2px 0px;

      .term-filter-search{
        /* Auto layout */

        display: flex;
        //flex-direction: column;
        //justify-content: flex-end;
        align-items: center;
        padding: 0px;

        position: static;
        width: 138px;
        height: 20px;
        left: 20px;
        top: 10px;


        /* Inside auto layout */

        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 0px 0px;

        .checkbox-filter-search {

          /* Auto layout */

          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          align-items: center;
          padding: 2px 10px;

          position: static;
          left: 85.51%;
          right: 0%;
          top: 0%;
          bottom: 0%;

          /* Outline Tags */

          border: 1px solid rgba(0, 0, 0, 0.1);
          box-sizing: border-box;
          border-radius: 5px;

          /* Inside auto layout */

          flex: none;
          order: 1;
          flex-grow: 0;
          margin: 0px 5px;
        }
        .wrap-term-and-sum {
          /* Auto layout */

          display: flex;
          //flex-direction: column;
          //align-items: flex-end;
          padding: 0px;
          align-items: center;
          //
          //position: static;
          //width: 113px;
          //height: 18px;
          //left: 0px;
          //top: 1px;


          /* Inside auto layout */

          flex: none;
          order: 0;
          flex-grow: 0;
          margin: 0px 5px;

          .term-name {
            font-family: 'Assistant';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            color: #333433;

            flex: none;
            order: 0;
            flex-grow: 0;
            margin: 0px 0px;
          }
        }
      }
  }
}

.filtersSection{
  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;

  position: static;
  //width: 1202px;
  height: 38px;
  left: 0px;
  top: 0px;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 15px 0px;

.allFiltersWrapDiv{
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  //position: static;
  //width: 794.61px;
  //height: 38px;
  //left: 407.39px;
  top: 0px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  //margin: 0px 15px;


//background-color: red;
  border: 2px solid green;

    .checkboxFiltersWrap{
      /* Auto layout */
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      //align-items: center;
      padding: 0px;
      position: relative;
      //position: static;
      //width: 611.61px;
      height: 38px;
      //left: 183px;
      top: 0px;


      /* Inside auto layout */
      flex: none;
      //order: 2;
      flex-grow: 0;
      margin: 0px 15px;

      //border: 1px solid blue;
      .wrapEachFiltergroup {
        position: relative;
        top: 0;
      }

          .wrapEachFilterTag, .wrapEachFilterButton{
            /* Auto layout */
border: 1px solid red;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 5px;

            position: relative;
            //width: 61px;
            height: 38px;
            //left: 550.61px;
            top: 0px;

            /* Main/Early Grey */

            background: #F9F9F9;
            border-radius: 10px;

            /* Inside auto layout */

            flex: none;
            order: 6;
            flex-grow: 0;
            margin: 0px 10px;

                .buttonWrap{
                  /* Auto layout */

                  display: flex;
                  flex-direction: row;
                  justify-content: flex-end;
                  align-items: center;
                  padding: 5px 5px 5px 7px;

                  position: static;
                  //width: 51px;
                  height: 28px;
                  left: 5px;
                  top: 5px;

                  border-radius: 22px;

                  /* Inside auto layout */

                  flex: none;
                  order: 0;
                  flex-grow: 0;
                  margin: 0px 20px;
                }
          }
          .filterGroupTitle{
            position: static;
            left: 41.18%;
            right: 9.8%;
            top: 17.86%;
            bottom: 17.86%;

            font-family: 'Assistant';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            text-align: right;

            /* Main/Dark */

            color: #333433;

            /* Inside auto layout */

            flex: none;
            order: 1;
            flex-grow: 0;
            margin: 0px 7px;
          }
      .filterVector{
        position: static;
        left: 13.73%;
        right: 72.55%;
        top: 42.86%;
        bottom: 42.86%;

        /* Inside auto layout */

        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 0px 7px;
      }
        }

}
}

#groupFiltersContainer{
  display: flex;
  flex-direction: row;
}










