/* Header */
.catalog-banner{
  height: 194px;
  background: #333433;
  display: flex;
  justify-content: center;
  position: relative;

  .back-img-1 {
    background: url("../../assets/images/catalog-img1.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 242px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
  }
  .back-img-2 {
    background: url("../../assets/images/catalog-img2.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 313px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  .catalog-banner-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

      .catalog-header{
        font-family: 'Assistant';
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 42px;
        text-align: center;
      }
  }
  .hero-search-form {
    z-index: 2;
    display: inline-block;
    margin: 15px 0 18px 0;
  .search-field.form-control {
    height: 55px;
    font-weight: 400;
    width: 375px;
    font-size: 18px;
    padding-right: 25px;
    &::placeholder {
      color: #69696991;
      font-size: 18px;
    }
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
  .search-submit {
    cursor: pointer;
    width: 45px;
    height: 45px;
    background: #F1595A;
    border-radius: 33px;
    font-size: 0;
    border: 0;
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url("../../assets/images/search-red.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 3;
  }
}
}

/* Filters menu */
.filtersSection{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  position: static;
  left: 0;
  top: 0;
  order: 0;
  flex-grow: 0;
  margin: 15px 50px 15px 0;

  .allFiltersWrapDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    top: 0;
    order: 0;
    flex-grow: 0;

    .checkboxFiltersWrap{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      padding: 0;
      position: relative;
      top: 0;
      flex-grow: 0;
      margin: 0 15px;
      flex-wrap: wrap;

      #groupFiltersContainer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 90px;
      }

      .wrapEachFiltergroup {
        position: relative;

        .extraButtonsWrap{
          display: flex;
        }
        }

      .wrapEachFilterTag, .wrapEachFilterButton{
        display: flex;
        align-items: center;
        height: 38px;
        background: #F9F9F9;
        border-radius: 10px;
        margin: 0 5px;
        cursor: pointer;

        .buttonWrap{
          display: flex;
          flex-direction: row;
          align-items: center;
          border-radius: 22px;
          margin: 0 10px;
          }
        }
      .wrapEachFilterButton{
        .filterVector{
          margin-top: 1px;
        }
      }
      .filterGroupTitle{
        font-family: 'Assistant';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        text-align: right;
        color: #333433;
        margin:auto;
      }

      }
    }


  }
.filterVectorMobile{
  display:none;
}

.openFiltersMenu{
  display: none;
  position: absolute;
  left: 30px;

  .filterVector{
    margin-bottom: 3px;
  }
}
.filterVector{
  margin: 0;
  margin-right: 7px;
}
/* filter inputs- popup menu */
.inputsContainer {
  display:none;
  z-index: 3;
  position: absolute;
  top:44.5px;
  max-width: 200px;
  max-height: 300px;
  overflow-y: auto;
  background: #FFFFFF;
  box-shadow: 0 5px 15px rgba(40, 40, 40, 0.2);
  border-radius: 10px;
  margin: 0 5px 0 0;
  padding: 0 15px 0 0;

  .filterInput{
    background: #FFFFFF;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 10px 0;

    .filterTagLabel{
      display: flex;
      align-items: center;
      padding: 0;
      margin:0;

      .tagNameWrap {
        display: flex;
        padding: 0;
        text-align: unset;
        width:100%;
        cursor: pointer;
        align-items: center;

        &::before{
          width:22px;
          height: 20px;
          border: 1px solid rgba(0, 0, 0, 0.1);
          border-radius: 5px;
          line-height: 16px;
          font-size: 10px;

        }
        &::after{
          width:0;
        }
        .term-name {
          font-family: 'Assistant';
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          color: #333433;
          text-align: right;
          width: 200px;
          line-height: 13px;
          max-width:unset;
        }
      }
    }
  }
}

.checkbox-filter-search:checked ~ .wrap-term-and-sum:before {
  background-color: black;
}


#resetButton{
  background-color: transparent;

  .resetFilterButton {
    font-family: 'Assistant';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    color: #589CA5;
  }
}


/* media query */

@media (max-width: 1200px) {
  .filtersSection{
    .allFiltersWrapDiv{
      .checkboxFiltersWrap{
        .wrapEachFilterTag, .wrapEachFilterButton{
          margin-bottom: 10px;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  #groupFiltersContainer{
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .navFiltersMenu{
    display: flex;
    position: fixed;
    top: 0;
    z-index: 8;
    width: 100%;
    background-color: #333433;
    height: 63px;
    .resetFilterButton{
      font-size: 12px;
      line-height: 16px;
      color: #70C6D1;
      font-weight: 700;
      margin: auto 16px auto;
    }
  }
  .buttonNavFiltersMenu{
    display: flex;
    z-index: 8;
    width: 100%;
    height: 13%;
    .buttonFilterWrap{
      display: flex;
      background: #91C653;
      border-radius: 30px;
      width: 90%;
      margin: auto;
      height: 57px;
      z-index: 8;
      .filterButtonMobileMenu{
        margin: auto;
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        color: #FFFFFF;
      }
    }
  }
  #filtersSectionMobile{
    position: relative;
    height: 87%;
    top: 63px;
    overflow-y: auto;
  }
  .wrapEachFiltergroup{
    display: flex;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    height: fit-content;
    flex-direction: column;
    .wrapEachFilterTag{
      display: flex;
      width: 100%
    }
  }
  .buttonWrap{
    display: flex;
    width: 100%;
    height: 69px;
    justify-content: space-between;
    .filterGroupTitle{
      margin: auto 24px auto auto;
      font-weight: 600;
      font-size: 22px;
      line-height: 29px;
    }
  }
  .filterVectorMobile{
    display: unset;
    margin: auto auto auto 23px;
  }
  .vectorUp{
    transform: rotate(180deg);
  }
  .filtersSection{
    .allFiltersWrapDiv {
      display: none;
    }
  }
  .openFiltersMenu{
    display: unset;
    .filterVector{
      display: unset;
    }
  }
  .filterVector{
    display: none;
  }
  .filterMenuOverlay{
    z-index:6;
  }

  .inputsContainer {
    display: flex;
    flex-direction: column;
    position: unset;
    box-shadow: unset;
    max-width: unset;
    max-height: unset;
    overflow-y: unset;
    padding: 0;
    margin: 0 28px 0 0;
    .filterInput{
      .filterTagLabel{
        .tagNameWrap {
          &::before{
            width: 20px;
          }
          .term-name {
            padding-right: 10px;
          }
        }
      }
    }
  }
}

@media (max-width: 390px) {
  .catalog-banner {
    .hero-search-form {
      .search-field.form-control {
        width: 342px;
        font-size: 16px;

        &::placeholder {
          font-size: 16px;
        }
      }
    }
  }
}


/* course result presentation */
#coursesBox{
  flex-direction: column;
  margin-top: 50px;
}
.courseResultCard {
  display: flex;
  height: 160px;
  .courseImage {
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 253px;
    height: 124px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(40, 40, 40, 0.2);
    a {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
    }
  }

  .itemContent {
    margin: 0 20px 0 0;

    h3 {
      font-weight: 600;
      font-size: 22px;
      line-height: 29px;
      margin: 2px 0 8px 0;;
      a {
        color: #000000;
      }
    }
    .tagsDiv{
      display: flex;
      .courseTag{
        background: #F2F2F2;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
        border-radius: 10px;
        margin-left: 10px;
        p{
          font-weight: 500;
          font-size: 14px;
          line-height: 18px;
          margin: 1px 10px;
        }
      }
    }
    .institutionName{
      font-weight: 300;
      font-size: 16px;
      line-height: 21px;
      opacity: 0.5;
      margin: 8px 0px;
    }

    .courseDuration{
      font-weight: 300;
      font-size: 14px;
      line-height: 18px;
      opacity: 0.5;
      margin: 5px 0;
    }
  }

}




