/* Courses Stripe */

.home-page-courses-stripe {
  margin-bottom: 47px;
  .stripe-container {
    max-width: 1440px;
    margin: 0 auto;
    .stripe-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 76%;
      margin: 27px auto;
      .header-title {
        margin-right: 10px;
        h1 {
          margin: 0;
          height: 42px;
          font-size: 32px;
          font-weight: 500;
          line-height: 42px;
        }
        p {
          margin: 15px 0 0;
          height: fit-content;
          font-size: 16px;
          font-weight: 300;
          line-height: 21px;
        }
      }
      .show-all-courses {
        z-index: 3;
        p {
          color: #333433;
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: 18px;
          letter-spacing: 0em;
          text-align: left;
          &:after {
            content: '>>';
            margin-right: 4px;
          }
        }
      }
    }
  }
}

.home-page-info-stripe {
  z-index: 0;
  background: #333433;
  display: flex;
  flex-direction: column;
  position: relative;
  .back-img-1 {
    background: url("../../assets/images/info-stripe-img2.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 113px;
    height: 239px;
    position: absolute;
    left: 0;
    top: 43px;
  }
  .back-img-2 {
    background: url("../../assets/images/info-stripe-img1.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 129px;
    height: 317px;
    position: absolute;
    right: 0;
    top: 17px;
  }
  .stripe-container {
    max-width: 1440px;
    margin: 0 auto;
    .info-stripe-header {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 42px;
      margin: 37px auto 0;
      span {
        height: 35px;
        width: 4px;
        border-radius: 10px;
        margin-left: 10px;
      }
      h1 {
        margin: 0;
        color: #FFFFFF;
        font-size: 32px;
        font-weight: 500;
        line-height: 42px;
        letter-spacing: .02rem;
      }
    }
    .info-content {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      max-width: 933px;
      margin: 37px auto 28px;
      .info-item {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 233px;
        margin: 0 39px 50px;
        .open-iframe {
          cursor: pointer;
          border-radius: 20px;
          width: 200px;
          height: 107px;
          margin: 0 auto 10px;
          background-size: cover;
          background-position: center center;
          background-size: cover;
        }
        img {
          height: 107px;
          width: 98px;
          margin-bottom: 10px;
        }
        h1 {
          font-size: 22px;
          text-align: center;
          margin-bottom: 5px;
          line-height: 29px;
          font-weight: 600;
          color: #FFFFFF;
        }
        p {
          -webkit-font-smoothing: antialiased;
          font-size: 16px;
          margin: 0;
          line-height: 21px;
          font-weight: 300;
          color: #FFFFFF;
        }
      }
    }
  }
}

.home-page-institutions_stripe {
  margin-bottom: 40px;
  margin-top: 35px;
  .stripe-container {
    max-width: 1440px;
    margin: 0 auto;
    .institution-header {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 42px;
      margin: 0 auto 35px;

      span {
        height: 35px;
        width: 4px;
        border-radius: 10px;
        margin-left: 10px;
      }

      h1 {
        margin: 0;
        font-size: 32px;
        font-weight: 500;
        line-height: 42px;
      }
    }

    .institutions-slider {
      width: 80%;
      margin: auto
    }

    .course-stripe-item {
      .course-img {
        width: 135px;
        height: 60px;
        position: relative;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        cursor: pointer;
        opacity: 0.5;
        -webkit-filter: grayscale(100);
        transition: opacity 300ms linear;

        &:hover {
          opacity: 1;
          transition: opacity 300ms linear;
          -webkit-filter: grayscale(0);
        }

        a {
          position: absolute;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

.home-page-tags-stripe {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  .back-img-1 {
    background: url("../../assets/images/tags-stripe-img1.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 156px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    @media (max-width: 992px) {
      width: 130px;
    }
    @media (max-width: 767px) {
      display: none;
    }
  }
  .back-img-2 {
    background: url("../../assets/images/tags-stripe-img2.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 156px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    @media (max-width: 480px) {
      width: 90px;
      height: 120px;
    }
  }
  .stripe-container {
    max-width: 1440px;
    margin: 0 auto;
    .tags-stripe-header {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 40px auto 44px;

      span {
        margin-left: 10px;
        border-radius: 10px;
        width: 4px;
        height: 41px
      }

      h1 {
        margin: 0;
        font-weight: 500;
        font-size: 32px;
        line-height: 42px;
        color: #333433;
      }
    }
    .tags-div {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      max-width: 1037px;
      margin: 0 auto 50px;
      @media (max-width: 1250px) {
        max-width: 850px;
      }
      @media (max-width: 1080px) {
        max-width: 650px;
      }
      @media (max-width: 992px) {
        max-width: 550px;
      }

      .tag-item {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 7.5px 15px;
        background-color: #F2F2F2;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
        border-radius: 20px;
        height: 36px;
        cursor: pointer;
        transition: background-color 300ms linear;

        &:hover {
          transition: background-color 300ms linear;
          background-color: #FDCC07;
        }

        a {
          display: block;
          position: relative;
          width: 100%;
          height: 100%;
          padding: 6px 15px;

          p {
            font-weight: bold;
            font-size: 18px;
            line-height: 24px;
            margin: 0;
            color: #333433;

            &:after {
              content: ">>";
              margin-right: 8px;
            }
          }
        }
      }
    }
  }
}

.home-page-nerative-stripe {
  padding-bottom: 47px;
  background: #333433;
  .stripe-container {
    max-width: 1440px;
    margin: 0 auto;
    .stripe-header {
      display: flex;
      flex-direction: column;
      margin-bottom: 33px;

      .stripe-title {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 44px;
        margin-bottom: 15px;

        span {
          width: 4px;
          height: 41px;
          margin-left: 10px;
          border-radius: 10px;
        }

        img {
          margin-left: 10px;
          height: 45px;
        }

        h1 {
          margin: 0;
          font-size: 32px;
          line-height: 42px;
          font-weight: 500;
          color: #FCFCFC
        }
      }

      p {
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        color: #FCFCFC;
        margin: 0
      }
    }
  }
}

.home-page-goals-stripe {
  z-index: 0;
  background: #333433;
  .stripe-container {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
    .back-img-1 {
      background: url("../../assets/images/goal-strip1.png");
      background-position: top;
      background-repeat: no-repeat;
      background-size: contain;
      width: 100%;
      max-width: 1440px;
      height: 145px;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0.7;
    }
    .back-img-2 {
      background: url("../../assets/images/goal-strip2.png");
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: contain;
      width: 100%;
      max-width: 1440px;
      height: 145px;
      position: absolute;
      left: 0;
      bottom: 0;
    }
    .goals-stripe-header {
      display: flex;
      flex-direction: column;
      padding-top: 87px;

      .stripe-title {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
        margin-top: 0;

        span {
          width: 4px;
          height: 41px;
          margin-left: 10px;
          border-radius: 10px;
        }

        h1 {
          font-size: 32px;
          line-height: 42px;
          font-weight: 500;
          color: #FCFCFC
        }
      }
    }
    .goals-slider {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: baseline;
      width: 76%;
      margin: 25px auto 0;
      padding: 0 0 127px 0;

      button.slick-button {
        outline: none;
      }

      .slick-list {
        width: 100%;
        position: relative;
        .goal-stripe-gradient {
          position: absolute;
          left: 0;
          top: 0;
          width: 74px;
          height: 100%;
          background: linear-gradient(90deg, #333433 13.7%, rgba(51, 52, 51, 0) 100%);
        }
      }

      .goal-item {
        margin: 0 10px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 320px;
        box-shadow: 0 5px 15px rgba(40, 40, 40, 0.2);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        position: relative;
        &:hover {
          .bg-gradient-hover {
            opacity: 1;
            transition: opacity 300ms linear;
          }
        }
        .bg-gradient-hover {
          border-radius: 10px;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 0;
          background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), linear-gradient(0deg, #282923 0%, rgba(0, 0, 0, 0.1) 55.31%);
          opacity: 0;
          transition: opacity 300ms linear;
        }
        .bg-gradient {
          border-radius: 10px;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 0;
          background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0.1) 55.31%);
        }

        .goal-item-content {
          width: 100%;
          z-index: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          h1 {
            margin: 0 10px 19px;
            font-weight: bold;
            font-size: 18px;
            line-height: 24px;
            color: #FFFFFF;
            text-shadow: 1px 1px 5px #000000;
          }

          a {
            width: 92%;
            margin: 0 10px 12px;
            background: #91C653;
            border-radius: 30px;
            padding: 7px 0;
            text-align: center;

            span {
              color: #FFFFFF;
              font-weight: bold;
              font-size: 18px;
              line-height: 24px;

              &:after {
                content: '>>';
                padding-right: 5px;
              }
            }
          }
        }
      }
    }
  }
}

.home-page-testimonials_stripe {
  background: #F9F9F9;
  position: relative;
  .back-img-1 {
    background: url("../../assets/images/info-stripe-img2.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 113px;
    height: 230px;
    position: absolute;
    left: 0;
    top: 20%;

  }
  .back-img-2 {
    background: url("../../assets/images/info-stripe-img1.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 115px;
    height: 317px;
    position: absolute;
    right: 0;
    top: 10%;
  }
  .stripe-container {
    max-width: 1440px;
    margin: 0 auto;
    .testimonials-stripe-header {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding-top: 37px;
      margin: 0 0 37px 0;

      span {
        width: 4px;
        height: 41px;
        margin-left: 10px;
        border-radius: 10px;
      }

      h1 {
        margin: 0;
        font-size: 32px;
        line-height: 42px;
        font-weight: 500;
      }
    }
    .testimonials-slider {
      display: flex;
      flex-direction: row;
      width: 76%;
      align-items: baseline;
      justify-content: center;
      margin: 0 auto;
      padding: 0 0 55px 0;
      &.no-header {
        padding-top: 55px;
      }

      button.slick-button {
        outline: none;
      }
      button.slick-prev {
        right: -20px;
      }
      button.slick-next {
        left: -20px;
      }
      .slick-list {
        max-width: 933px;
      }

      .testimonial-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 233px;
        margin: 0 39px;

        .testimonial-img-container {
          .background-img {
            width: 103px;
            height: 100px;
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;

            .testimonial-item-img {
              border: 2px solid #90c653;
              position: absolute;
              top: 23px;
              height: 68px;
              width: 68px;
              border-radius: 50px;
              background-position: center center;
              background-repeat: no-repeat;
              background-size: cover;
            }
          }

          .yellow {
            background-image: url("../../assets/images/testimonials-item-bckg-yellow.png");

          }

          .green {
            background-image: url("../../assets/images/testimonials-item-bckg-green.png");

          }

          .blue {
            background-image: url("../../assets/images/testimonials-item-bckg-blue.png");

          }
        }

        .testimonial-item-content {
          margin: 5px auto;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          h1 {
            text-align: center !important;
            font-weight: 600;
            font-size: 22px;
            line-height: 29px;
            color: #141414;
            margin-bottom: 5px;
          }

          p {
            text-align: center !important;
            -webkit-font-smoothing: antialiased;
            font-weight: 300;
            font-size: 16px;
            line-height: 21px;
            color: #141414;
          }
        }
      }
    }
  }
}

.courses-stripe {
  display: flex;
  flex-direction: row;
  width: 76%;
  align-items: baseline;
  justify-content: center;
  margin: 20px auto 0;
  .slick-list {
    width: 100%;
    overflow-x: clip;
    overflow-y: visible;
  }
  button.slick-button {
    outline: none;
  }
  .course-stripe-item {
    position: relative;
    max-height: 277px;
    height: 100%;
    margin: 0 10px;
    .course-img {
      position: relative;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      max-width: 253px;
      height: 124px;
      border-radius: 10px;
      box-shadow: 0 5px 10px rgba(40, 40, 40, 0.2);
      a {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
      }
      .info-button {
        display: none;
        position: absolute;
        cursor: pointer;
        right: 10px;
        top: 10px;
        background-image: url("../../assets/images/info-button.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 20px;
        height: 20px;
        filter: drop-shadow(0px 5px 10px black);
      }
    }
    .item-content {
      margin: 10px 3px 7px;
      h3 {
        text-overflow: ellipsis;
        overflow: hidden;
        height: 58px;
        font-size: 22px;
        font-weight: 600;
        line-height: 29px;
        text-align: right;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        a {
          color: #000000;
        }
      }
      p {
        -webkit-font-smoothing: antialiased;
        height: 21px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        font-size: 16px;
        font-weight: 300;
        line-height: 21px;
        text-align: right;
        opacity: 50%;
        margin: 0;
      }
    }
    .tags-div {
      display: flex;
      flex-direction: row;
      justify-content: right;
      height: 22px;
      margin: 0 3px;
      overflow: hidden;
      @media (max-width: 768px){
        margin: unset;
      }
      span {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        margin-left: 10px;
        background: #F2F2F2;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
        border-radius: 15px;
        text-align: center;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        overflow: hidden;
        p {
          padding: 2px 10px;
          white-space: nowrap;
          overflow: hidden;
          margin: 0;
          width: 100%;
        }
        @media (max-width: 768px){
          padding: 2px 5px;
          margin-left: 5px;
        }
      }
      span.regular-tag {
        min-width: fit-content;
        p.regular-tag {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      p.ellipsis-text {
        text-overflow: ellipsis;
      }
      .extra-tags {
        padding: 2px 10px;
        text-overflow: unset;
        margin: 0;
      }
      .extra-tags-mobile {
        display: none;
      }
    }
  }
}

.nerative-class {
  @media (max-width: 992px) {
    button {
      display: none;
    }
  }
  .slick-list {
    .slick-track {
      .course-stripe-item {
        .item-content {
          h3 {
            text-overflow: ellipsis;
            overflow: hidden;
            height: 58px;
            font-size: 22px;
            font-weight: 600;
            text-align: right;
            line-height: 24px;
            a {
              overflow: hidden;
              -webkit-line-clamp: 2;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              color: #FCFCFC;
            }
          }
          p {
            color: #FFFFFF;
          }
        }
        .tags-div {
          margin: 0 0 0 10px;
        }
        .course-item-hover {
          .item-content {
            h3 {
                color: #333433;
            }
            p {
              color: #333433;
            }
          }
          .tags-div {
            margin-right: 20px;
            span {
              margin-bottom: 7px;
            }
          }
        }
      }
    }
  }
}
#myCoursesWrapper{
  display:none;
 }

.home-page-myCourses-stripe {
  .stripe-container {
    max-width: 1440px;
    margin: 0 auto;
    .stripe-header {
      display: flex;
      align-items: center;
      width: 76%;
      margin: 27px auto 37px;

      span {
        margin-left: 10px;
        margin-right: 10px;
        border-radius: 10px;
        width: 4px;
        height: 35px;
      }

      h1 {
        font-size: 32px;
        line-height: 42px;
        font-weight: 500;
        margin: 0;
      }
    }
    .myCourses-slider {
      display: flex;
      flex-direction: row;
      width: 76%;
      align-items: baseline;
      justify-content: center;
      margin: 20px auto 0;
      padding-bottom: 30px;

      .slick-list {
        width: 100%;
        overflow-x: clip;
        overflow-y: visible;
      }

      button.slick-button {
        outline: none;
      }

      .course-stripe-item {
        position: relative;
        max-height: 277px;
        height: 100%;
        margin: 0 10px;

        .course-img {
          background-position: center center;
          background-repeat: no-repeat;
          background-size: cover;
          width: 100%;
          max-width: 253px;
          height: 124px;
          border-radius: 10px;
          box-shadow: 0 5px 10px rgba(40, 40, 40, 0.2);
        }

        .item-content {
          margin: 10px 3px 7px;

          h3 {
            text-overflow: ellipsis;
            overflow: hidden;
            height: 58px;
            font-size: 22px;
            font-weight: 600;
            line-height: 29px;
            text-align: right;
            -webkit-line-clamp: 2;
            display: -webkit-box;
            -webkit-box-orient: vertical;

            a {
              color: #000000;
            }
          }

          p.institution-name {
            -webkit-font-smoothing: antialiased;
            height: 21px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            font-size: 16px;
            font-weight: 300;
            line-height: 21px;
            text-align: right;
            opacity: 50%;
            margin: 0;
          }

          p.course-progress {
            margin-top: 7px;
            margin-bottom: 9px;
            font-weight: bold;
            font-size: 18px;
            line-height: 24px;
            text-align: right;

            a {
              color: #91C653;
            }
          }
        }

        .tags-div {
          display: flex;
          flex-direction: row;
          justify-content: right;
          height: 22px;
          margin: 0 3px;
          overflow: hidden;
          @media (max-width: 768px){
            margin: unset;
          }
          span {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            margin-left: 10px;
            background: #F2F2F2;
            border: 1px solid rgba(0, 0, 0, 0.1);
            box-sizing: border-box;
            border-radius: 15px;
            text-align: center;
            font-weight: 600;
            font-size: 14px;
            line-height: 18px;
            overflow: hidden;
            p {
              padding: 2px 10px;
              white-space: nowrap;
              overflow: hidden;
              margin: 0;
              width: 100%;
            }
            @media (max-width: 768px){
              padding: 2px 5px;
              margin-left: 5px;
            }
          }
          span.regular-tag {
            min-width: fit-content;
            p.regular-tag {
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
          p.ellipsis-text {
            text-overflow: ellipsis;
          }
          .extra-tags {
            padding: 2px 10px;
            text-overflow: unset;
            margin: 0;
          }
          .extra-tags-mobile {
            display: none;
          }
        }
      }
    }
  }
}

body {
  .course-item-hover {
    animation: courseFadeIn;
    animation-duration: 0.6s;
    display: none;
    z-index: 1;
    width: 295px;
    height: fit-content;
    background: #FFFFFF;
    filter: drop-shadow(0 10px 15px rgba(57, 104, 109, 0.25));
    border-radius: 10px;
      a {
        animation: fadeIn;
        animation-duration: 0.6s;
        width: 100%;
        height: 100%;
        color: #333433;
        .course-img {
          width: 275px;
          max-width: unset;
          height: 135px;
          margin: 10px 10px 0;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center center;
          border-radius: 10px;
        }
        .item-content {
          margin: 10px 20px 7px 14px;
          h3 {
            text-overflow: unset;
            overflow: unset;
            height: 100%;
            -webkit-line-clamp: unset;
            display: unset;
            -webkit-box-orient: unset;
            font-size: 22px;
            font-weight: 600;
            line-height: 29px;
            text-align: right;
            color: #000000;
          }
          p {
            -webkit-font-smoothing: antialiased;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            height: 21px;
            font-size: 16px;
            font-weight: 300;
            line-height: 21px;
            text-align: right;
            opacity: 50%;
            margin: 8px 0 0;
          }
        }
        .tags-div {
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          justify-content: right;
          margin-right: 20px;
          span {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            margin-left: 10px;
            margin-bottom: 7px;
            background: #F2F2F2;
            border: 1px solid rgba(0, 0, 0, 0.1);
            box-sizing: border-box;
            border-radius: 15px;
            text-align: center;
            font-weight: 600;
            font-size: 14px;
            line-height: 18px;
            overflow: hidden;
            p {
              padding: 2px 10px;
              white-space: nowrap;
              overflow: hidden;
              margin: 0;
              width: 100%;
            }
            @media (max-width: 768px){
              padding: 2px 5px;
              margin-left: 5px;
            }
          }
          span.regular-tag {
            min-width: fit-content;
            p.regular-tag {
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
          p.ellipsis-text {
            text-overflow: ellipsis;
          }
        }
        .course-details {
        margin: 0 20px 0 14px;
        padding-bottom: 15px;
        span {
          font-weight: 300;
          font-size: 14px;
          line-height: 18px;
          color: #808080;
        }
      }
    }
  }
}




/* catalog */

/* catalog stripe */
.catalog-courses-stripe {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: right;
  margin:auto;
  .course-stripe-item {
    position: relative;
    max-height: 277px;
    margin: 0 0 27px 20px;
    max-width: 253px;
    width: 100%;
    .course-img {
      position: relative;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      max-width: 253px;
      height: 124px;
      border-radius: 10px;
      box-shadow: 0 5px 10px rgba(40, 40, 40, 0.2);
      a {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
      }
      .info-button {
        display: none;
        position: absolute;
        cursor: pointer;
        right: 10px;
        top: 10px;
        background-image: url("../../assets/images/info-button.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 20px;
        height: 20px;
        filter: drop-shadow(0px 5px 10px black);
      }
    }
    .item-content {
      margin: 10px 3px 7px;
      h3 {
        text-overflow: ellipsis;
        overflow: hidden;
        height: 58px;
        font-size: 22px;
        font-weight: 600;
        line-height: 29px;
        text-align: right;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        a {
          color: #000000;
        }
      }
      p {
        -webkit-font-smoothing: antialiased;
        height: 21px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        font-size: 16px;
        font-weight: 300;
        line-height: 21px;
        text-align: right;
        opacity: 50%;
        margin: 0;
      }
    }
    .tags-div {
      display: flex;
      flex-direction: row;
      justify-content: right;
      height: 22px;
      margin: 0 3px;
      overflow: hidden;
      @media (max-width: 768px){
        margin: unset;
      }
      span {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        margin-left: 10px;
        background: #F2F2F2;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
        border-radius: 15px;
        text-align: center;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        overflow: hidden;
        p {
          padding: 2px 10px;
          white-space: nowrap;
          overflow: hidden;
          margin: 0;
          width: 100%;
        }
        @media (max-width: 768px){
          padding: 2px 5px;
          margin-left: 5px;
        }
      }
      span.regular-tag {
        min-width: fit-content;
        p.regular-tag {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      p.ellipsis-text {
        text-overflow: ellipsis;
      }
      .extra-tags {
        padding: 2px 10px;
        text-overflow: unset;
        margin: 0;
      }
      .extra-tags-mobile {
        display: none;
      }
    }
  }
}

.catalogWrap{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

  .catalogStripeWrap {
    margin-bottom: 47px;

    .catalogStripeContainer {
      width: 100%;
      margin: auto;
      padding-right: 190px;
    }

      .catalogStripeHeader {
          margin: 0 auto 26px;
        h1 {
          font-weight: 600;
          font-size: 32px;
          line-height: 42px;
          }
        p{
          margin: 0 11px 0 0;
        }

        }
  }

}



/* media query */

@media (max-width: 1200px) {
  .catalogWrap {
    .catalogStripeWrap {
      .catalogStripeContainer {
        padding-right: 80px;
      }
    }
  }
}


@media (max-width: 768px) {
  .catalog-courses-stripe {
    button.slick-button {
      display: none !important;
    }
    .course-stripe-item {
      margin-left: 10px;
      .course-img {
        height: 97px;
        .info-button {
          display: block;
        }
      }
      .item-content {
        margin: 3px;
        h3 {
          margin-bottom: 0;
          font-size: 18px;
          line-height: 23.54px;
          height: 50px;
        }
      }
      .tags-div {
        span {
          font-weight: normal;
          font-size: 12px;
          line-height: 16px;
          margin-left: 2px;
        }
        .extra-tags {
          display: none;
        }
        .extra-tags-mobile {
          display: block;
          padding: 2px 10px;
          text-overflow: unset;
          margin: 0;
        }
        .tag-2 {
          display: none;
        }
      }
    }
  }
  .catalogWrap {
   padding-right: 11px;
    .catalogStripeWrap {
      width: 100%;
      .catalogStripeContainer {
        padding-right: 0;
        margin-bottom: 25px;
      }
    }
  }
}

@media (max-width: 400px) {
  .catalog-courses-stripe {
    .course-stripe-item {
      max-width: 166px;
      .course-img{
        max-width: 166px;

      }
    }
  }
}

@media (max-width: 390px) {
  .catalog-courses-stripe {
    .course-stripe-item {
      min-width: unset;
    }
  }
}


/* stripes media query */

@media (max-width: 1439px) {
  .home-page-goals-stripe {
    .stripe-container {
      .goals-slider {
        width: 80%;
      }
    }
  }
}

@media (max-width: 1250px) {
  .courses-stripe {
    width: 78%;
  }

  .home-page-myCourses-stripe {
    .stripe-container{
      .stripe-header {
        width: 78%;
      }
      .myCourses-slider {
        width: 78%;
      }
    }

  }

  .home-page-courses-stripe {
    .stripe-header {
      width: 78%;
    }
  }

  .home-page-goals-stripe {
    .stripe-container {
      .goals-slider {
        width: 70%;
      }
    }
  }

  .home-page-testimonials_stripe {
    .testimonials-slider {
      .slick-list {
        width: 90%;
      }
      .testimonial-item {
        max-width: 233px;
        margin: 0 40px;
      }
    }
  }
}

@media (max-width: 1100px) {
  body {
    .course-item-hover {
      .course-img {
        max-width: 250px;
      }
    }
  }

  .courses-stripe {
    width: 85%;
  }

  .home-page-myCourses-stripe {
    .stripe-container{
      .stripe-header {
        width: 85%;
      }
      .myCourses-slider {
        width: 85%;
      }
    }

  }

  .home-page-courses-stripe {
    .stripe-header {
      width: 85%;
    }
  }

  .home-page-goals-stripe {
    .stripe-container {
      .goals-slider {
        width: 78%;
      }
    }
  }

  .home-page-testimonials_stripe {
    .back-img-1 {
      width: 100px;
      height: 200px;
    }
    .back-img-2 {
      width: 100px;
      height: 250px;
    }
    .testimonials-slider {
      .slick-list {
        width: 100%;
      }
    }
  }

  .home-page-info-stripe {
    .stripe-container {
      .info-content {
        .info-item {
          margin: 0 20px 50px;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  body {
    .course-item-hover {
      max-width: unset;
      .course-img {
        max-width: unset;
      }
    }
  }

  .courses-stripe {
    width: 76%;
    .course-stripe-item {
      min-width: 166px;
      .item-content {
        min-width: unset;
        h3 {
          font-size: 18px;
        }
      }
      .tags-div {
        span {
          padding: 2px;
          p {
            padding: 6px;
          }
        }
      }
    }
  }

  .nerative-class {
    .slick-list {
      .slick-track {
        .course-stripe-item {
          .item-content {
            h3 {
              a {
                font-size: 18px;
              }
            }
          }
        }
      }
    }

  }

  .home-page-myCourses-stripe {
    .stripe-container {
      .stripe-header {
        width: 76%;
      }
      .myCourses-slider {
        width: 76%;

        .course-stripe-item {
          min-width: 166px;

          .item-content {
            min-width: unset;

            h3 {
              font-size: 18px;
            }

            p.course-progress {
              font-size: 16px
            }
          }
        }
      }
    }
  }

  .home-page-courses-stripe {
    .stripe-container {
      .stripe-header {
        width: 76%;
      }
    }
  }

  .home-page-goals-stripe {
    .stripe-container {
      .goals-slider {
        width: 80%;

        .goal-item {
          min-width: 200px;
        }
      }
    }
  }

  .home-page-testimonials_stripe {
    .back-img-1 {
      width: 90px;
      height: 200px;
    }
    .back-img-2 {
      width: 90px;
      height: 250px;
    }
    .stripe-container {
      .testimonials-slider {
        width: 65%;
      }
    }
  }

  .home-page-info-stripe {
    .stripe-container {
      .info-content {
        max-width: 800px;
      }
    }
  }
}

@media (max-width: 850px) {
  body {
    .course-item-hover {
      .course-img {
        max-width: 250px;
      }
    }
  }

  .home-page-goals-stripe {
    .stripe-container {
      .goals-slider {
        width: 64%;
      }
    }
  }
}

@media (max-width: 768px) {
  .courses-stripe {
    width: 80%;
    button.slick-button {
      display: none !important;
    }
    .course-stripe-item {
      margin: 0 5px;
      .course-img {
        height: 97px;
        .info-button {
          display: block;
        }
      }
      .item-content {
        margin: 3px;
        h3 {
          margin-bottom: 3px;
        }
      }
      .tags-div {
        span {
          font-weight: normal;
          font-size: 12px;
          line-height: 16px;
          margin-left: 2px;
        }
        .extra-tags {
          display: none;
        }
        .extra-tags-mobile {
          display: block;
          padding: 2px 10px;
          text-overflow: unset;
          margin: 0;
        }
        .tag-2 {
          display: none;
        }
      }
    }
  }

  .home-page-courses-stripe {
    margin-bottom: 25px;
    .stripe-container {
      .stripe-header {
        width: 80%;

        .header-title {
          h1 {
            font-size: 26px;
            line-height: 34px;
          }
        }
      }
    }
  }

  .home-page-tags-stripe {
    .stripe-container {
      .tags-stripe-header {
        margin: 40px auto 20px;

        span {
          height: 35px;
        }

        h1 {
          font-weight: 600;
          font-size: 26px;
          line-height: 34px;
        }
      }
      .tags-div {
        max-width: 355px;

        .tag-item {
          margin: 0 2.5px 10px;
          height: 30px;

          a {
            padding: 6px 10px;

            p {
              font-size: 14px;
              line-height: 18px;
              font-weight: normal;

              &:after {
                margin-right: 7px;
              }
            }
          }
        }
      }
    }
  }

  .home-page-nerative-stripe {
    .stripe-container {
      .stripe-header {
        margin: auto 27px 30px;

        .stripe-title {
          flex-direction: column;
          align-items: center;

          span {
            display: none;
          }

          img {
            margin: auto;
            height: 57px;
          }

          h1 {
            font-size: 26px;
            line-height: 34px;
          }
        }

        p {
          font-weight: 300;
          font-size: 16px;
          line-height: 21px;
        }
      }
    }
  }

  .home-page-goals-stripe {
    .stripe-container {
      .back-img-1 {
        background-size: cover;
        height: 52px;
      }
      .back-img-2 {
      background-size: cover;
      height: 90px;
    }
      .goals-stripe-header {
        .stripe-title {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          margin-bottom: 15px;

          span {
            height: 35px;
          }

          h1 {
            font-weight: 600;
            font-size: 26px;
            line-height: 34px;
            color: #FFFFFF;
          }
        }
      }
      .goals-slider {
        button.slick-button {
          display: none !important;
        }

        .goal-item {
          .goal-item-content {
            h1 {
              font-weight: 600;
              font-size: 18px;
              line-height: 24px;
            }
          }
        }
      }
    }
  }

  .home-page-institutions_stripe {
    .stripe-container {
      .institution-header {
        h1 {
          font-size: 26px;
          line-height: 34px;
        }
      }
    }
  }

  .home-page-myCourses-stripe {
    .stripe-container {
      .stripe-header {
        width: 80%;

        h1 {
          font-size: 26px;
          line-height: 34px;
        }
      }
      .myCourses-slider {
        width: 80%;

        button.slick-button {
          display: none !important;
        }

        .course-stripe-item {
          margin: 0 5px;

          .course-img {
            height: 97px;
          }

          .item-content {
            margin: 3px;

            h3 {
              margin-bottom: 3px;
            }
          }
        }
      }
    }
  }

  .home-page-testimonials_stripe {
    .back-img-1 {
      top: 15%;
    }
    .back-img-2 {
      top: 5%;
    }
    .stripe-container {
      .testimonials-stripe-header {
        span {
          height: 35px;
        }

        h1 {
          font-size: 26px;
          line-height: 35px;
        }
      }
      .testimonials-slider {
        width: 76%;

        .testimonial-item {
          margin: 0 30px;
        }

        .slick-list {
          width: 95%;
          margin: auto;
        }
      }
    }
  }

  .home-page-info-stripe {
    .back-img-1 {
      top: 20%;
    }
    .back-img-2 {
      top: 10%;
    }
  }
}

@media (max-width: 710px) {
  .courses-stripe {
    width: 91.5%;
  }

  .home-page-myCourses-stripe {
    .stripe-container {
      .stripe-header {
        width: 91.5%;
      }
      .myCourses-slider {
        width: 91.5%;
      }
    }
  }

  .home-page-courses-stripe {
    .stripe-container {
      .stripe-header {
        width: 91.5%;
      }
    }
  }

  .home-page-goals-stripe {
    .stripe-container {
      .goals-slider {
        width: auto;
        margin: 0 5px 0 0;

        .goal-item {
          min-width: unset;
        }
      }
    }
  }

  .home-page-info-stripe {
    .stripe-container {
      .info-content {
        flex-direction: column;
      }
    }
  }
}

@media (max-width: 650px) {
  .home-page-courses-stripe {
    .stripe-container {
      .stripe-header {
        .show-all-courses {
          display: none;
        }
      }
    }
  }

  .courses-stripe {
    width: unset;
    margin: 20px 30px ;
  }

  .home-page-myCourses-stripe {
    .stripe-container {
      .stripe-header {
        width: unset;
        margin: 20px 40px;

        span {
          margin-right: 0;
        }
      }
      .myCourses-slider {
        width: unset;
        margin: 20px 30px;
      }
    }
  }

  .home-page-testimonials_stripe {
    .stripe-container {
      .testimonials-slider {
        display: block;
        width: 75%;

        .testimonial-item {
          margin: 0 25px;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .courses-stripe {
    margin: 20px 30px 0 0 ;
  }

  .home-page-myCourses-stripe {
    .stripe-container {
      .myCourses-slider {
        margin: 20px 30px 0 0;
      }
    }
  }

  .home-page-testimonials_stripe {
    .stripe-container {
      .testimonials-slider {
        width: 50%;

        .testimonial-item {
          margin: 0 33px;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .courses-stripe {
    margin: 15px 10px 0 0;
    .course-stripe-item {
      height: 100%;
    }
  }

  .home-page-myCourses-stripe {
    .stripe-container {
      .stripe-header {
        width: unset;
        margin-right: 5px;

        span {
          margin-right: 10px;
        }
      }
      .myCourses-slider {
        margin: 15px 10px 0 0;

        .course-stripe-item {
          height: 100%;
        }
      }
    }
  }

  .home-page-testimonials_stripe {
    .stripe-container {
      .testimonials-slider {
        width: 65%;
      }
    }
  }

  .home-page-courses-stripe {
    .stripe-container {
      .stripe-header {
        width: unset;
        margin-right: 5px;
      }
    }
  }

  .home-page-institutions_stripe {
    .stripe-container {
      .course-stripe-item {
        .course-img {
          width: 90px;
        }
      }
    }
  }

  .home-page-info-stripe {
    .back-img-1 {
      width: 80px;
      height: 170px;
    }
    .back-img-2 {
      width: 70px;
      height: 220px;
    }
  }

}

@media (max-width: 425px) {
  .home-page-courses-stripe {
    .stripe-container {
      .stripe-header {
        margin-top: 27px;
        margin-bottom: 0;

        .header-title {
          p {
            margin: 5px 0 0;
          }
        }
      }
    }
  }

  .home-page-myCourses-stripe {
    .stripe-container {
      .stripe-header {
        margin-top: 27px;
        margin-bottom: 0;
      }
    }
  }

  .home-page-institutions_stripe {
    .stripe-container {
      .course-stripe-item {
        .course-img {
          width: 80px;
        }
      }
    }
  }

  .home-page-testimonials_stripe {
    .stripe-container {
      .testimonials-slider {
        width: 70%;

        .slick-list {
          width: 85%;
        }
      }
    }
  }
}

@media (max-width: 389px) {
  .courses-stripe {
    .course-stripe-item {
      min-width: unset;
    }
  }

  .home-page-myCourses-stripe {
    .stripe-container {
      .myCourses-slider {
        .course-stripe-item {
          min-width: unset;
        }
      }
    }
  }

  .home-page-goals-stripe {
    .stripe-container {
      .goals-slider {
        .goal-item {
          min-width: unset;
        }
      }
    }
  }

  .home-page-info-stripe {
    .back-img-1 {
      width: 70px;
      height: 150px;
    }
    .back-img-2 {
      width: 60px;
      height: 190px;
    }
  }

  .home-page-testimonials_stripe {
    .back-img-1 {
      width: 35px;
      height: 125px;
    }
    .back-img-2 {
      width: 45px;
      height: 150px;
      top: 30%;
    }
  }
}

@keyframes courseFadeIn {
  from {opacity: 0.9; transform: scale(0.95) }
  to {opacity: 1; transform: scale(1)}
}

@keyframes fadeIn {
  from {opacity: 0.5; }
  to {opacity: 1;}
}

.ShowAllCoursesCard{
  background: url("../../assets/images/showAllCoursesCard.svg");
}