$header_mobile: 991px;

/*Header*/
.social-equality-logo {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  width: 164px;
  height: 126px;
  display: inline-block;
}

.banner-wrapper.no-image {
  height: 150px;
}

/*.banner-wrapper.institution-page:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1038;
    opacity: 0.3;
    background-color: #333333;
}*/
.search-form-header form button {
  background-color: #333333;
  color: white;
  height: 100%;
  padding: 0 6px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  position: absolute;
  left: -23px;
  z-index: 99;

}

input.search-field.form-control::placeholder {
  color: transparent;
}

.position-header-mobile {
  /* padding-bottom: 7px; */
  bottom: 2px;
}

.search-field.form-control {
  height: 28px;
  font-size: 14px;
  border-radius: 50px;
  border: 1px solid;
  border-color: rgba(138, 132, 132, 0.25);
  border-top-right-radius: 50px !important;
  border-bottom-right-radius: 50px !important;
  padding-left: 25px;
}

.search-form-header form input {
  border: none;
}

.search-form-header form {
  /*box-shadow: 1px 2px 5px #8a848440;*/
  border-left: none;
  height: 30px;
  max-width: 153px;
}

.header {
  align-items: flex-end;
}

.menu-header a,
.header_login a,
a.link-my-courses {
  color: #333333;
  font-size: 20px;
  font-weight: 600;
}

.link-dasboard {
  display: none;
}

.menu-header ul li {
  padding: 0 14px;
}

.seperator {
  font-weight: 600;
}

.social-equality-logo.logo-header img {
  width: 148px;
}

.social-equality-logo:first-child {
  margin-left: 11px;
}

.login_lang_wrap {
  bottom: 6px;
  position: absolute;
  left: 0;
}

.menu-language-menu-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-right: 32px;
  /* color: black; */
}

//.wpml-ls-menu-item
//{
//  display: inline-block;
//  padding: 0 5px;
//}
.wpml-ls-menu-item a {
  color: #333333;
  font-size: 20px;
  font-weight: 600;
}

//.wpml-ls-current-language {
//  /*border-radius: 0 2px 2px 0;*/
//  background-color: #333;
//  opacity: inherit;
//  border-radius: 12px;
//  padding-right: 8px;
//  padding-left: 8px;
//}
.wpml-ls-current-language a {
  color: #ffffff;
  line-height: 1;

}

.campus-logo {
  padding: 22px 0 15px 0;
}

.header a:hover {
  text-decoration: none;
  color: #333333;
}

nav.header-nav ul {
  padding: 0;
}

/*new header 14/02/2021*/
.header_container {
  padding: 22px 45px 8px 84px;
}

.user_is_logged_in .header_wrap .has_profile_icon:before {
  margin: -2px 0 0 4px;
}

.header_wrap {
  .campus_logo {
    display: inline-block;
    // margin-left: 50px;
    margin-left: 42px;

    img {
      width: 347px;
    }
  }

  .social-logo {
    display: inline-block;

    &.digital-isreal-logo {
      margin-right: 35px;
    }
  }

  .nav-campus-inner-wrap {
    background-color: #F5F5F5;
    padding: 22px 0 24px;
    position: relative;
    @media(max-width: 1440px) {
      padding: 22px 0 17px;
    }
    @media(max-width: 1200px) and (min-width: $header_mobile +1) {
      .container {
        max-width: inherit;
        margin-right: 10px;
      }
    }

    .nav-mobile-campus-inner {
      ul li {
        position: relative;
        padding: 0;
        margin: 0 39px;
        @media(max-width: 1400px) {
          margin: 0 20px;
        }
        @media(min-width: $header_mobile+ 1) and (max-width: 1199px) {
          margin: 0 9px;
        }

        &:first-child {
          margin-right: 0;
        }

        a {
          font: normal normal 500 22px/28px Assistant;

          &:after {
            content: "";
            width: calc(100% + 26px);
            display: inline-block;
            position: absolute;
            left: 50%;
            bottom: -24px;
            border: 3px solid transparent;
            opacity: 0;
            border-radius: 18px;
            transform: translateX(-50%);
            transition: all 0.3s;
            @media(max-width: 1440px) {
              bottom: -10px;
            }
          }

          &:hover:after {
            border: 3px solid #70C6D1;
            opacity: 1;
          }
        }

        &.current-menu-item a:after {
          border: 3px solid #70C6D1;
          opacity: 1;
        }
      }
    }
  }

  .login_search_lang_wrap {
    .search-form {
      display: inline-block;
    }

    .search-field {
      width: 259px;
      height: 52px;
      background: rgba(105, 105, 105, 0.11);
      padding: 7px 25px 7px 55px;
      border: 0;
      font-size: 18px;
      @media(max-width: 1200px) {
        width: 166px;
      }

      &::placeholder {
        color: #69696991;
        font-size: 18px;
      }
    }

    .search-submit {
      width: 36px;
      height: 36px;
      background: #70C6D1;
      border-radius: 33px;
      font-size: 0;
      border: 0;
      position: absolute;
      left: 8px;
      top: 50%;
      transform: translateY(-50%);
      background-image: url("../../assets/images/search_ic_header.png");
      background-repeat: no-repeat;
      background-position: center center;
      z-index: 99998;
    }
  }

  .has_profile_icon {
    &:before {
      content: "";
      display: inline-block;
      background-image: url(../images/person_ic.png);
      background-repeat: no-repeat;
      background-position: center;
      height: 18px;
      width: 14px;
      margin: 0 0 0 17px;
      margin-top: -2px;
      vertical-align: middle;
      @media(max-width: 1440px) {
        margin: -2px 0px 5px 5px;
      }
    }
  }

  .header_login_area {
    .header_login, .user-connect {
      display: inline-block;
      vertical-align: middle;
    }
  }

  .login-item {
    &:after {
      content: "";
      display: inline-block;
      height: 21px;
      width: 2px;
      vertical-align: middle;
      background-color: #323333;
      margin: 0 7px 0 1px;
    }

  }

  .user-connect {

    .link-my-courses {
      color: #70C6D1;
      font: normal normal bold 22px/28px Assistant;
    }

    .user-information {
      font-size: 22px;
      color: #323333;
      font-weight: 500;
      margin-left: 18px;
      display: inline-block;
      @media(min-width: $header_mobile+ 1) and (max-width: 1199px) {
        font-size: 0;
      }

      span.name-user {
        @media(max-width: 1199px) {
          font-size: 22px;
        }
        @media(max-width: 767px) {
          font-size: 14px;
        }
      }
    }
  }

  .languages_menu_wrap {
    .dropdown_langs_btn {
      &:after {
        position: absolute;
        top: 10px;
        left: 9px;
        z-index: -1;
        width: 8px;
        height: 8px;
        content: '';
        cursor: pointer;
        border-right: 1px solid #323333;
        border-bottom: 1px solid #323333;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        transition: all 0.3s;
      }

      &.open:after {
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg);
        top: 15px;
      }
    }

    > div {
      display: none;
    }
  }

  .dropdown_langs_btn {
    border: 0;
    background-color: transparent;
    font: normal normal 500 22px/28px Assistant;
    color: #323333;
    width: 120px;
  }

  .menu-language-menu-container {
    position: absolute;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 23px #0000001c;
    border-radius: 6px;
    opacity: 1;
    padding: 25px 45px 0 75px;
    z-index: 9999999;
    left: 50%;
    transform: translateX(-50%);
    top: 42px;
    @media(max-width: 1440px) {
      padding: 25px 10px 0 40px;
    }

    &:before {
      content: "";
      display: inline-block;
      border: 1px solid #70C6D1;
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  .nav-lang li {
    margin-bottom: 22px;
    @media(min-width: $header_mobile + 1) {
      &.wpml-ls-current-language {
        display: none;
      }
    }

    &[id $= "en"] span:before {
      content: "English";
    }

    &[id $= "he"] span:before {
      content: "עברית";
    }

    &[id $= "ar"] span:before {
      content: "العربية";
    }
    a {
      span {
        font-size: 0;

        &:before {
          font: normal normal normal 22px/28px Assistant;
          color: #323333;
        }
      }

    }
  }

  .lang {
    position: relative;
    margin: 0 33px;

    &:before {
      content: "";
      display: inline-block;
      background-image: url("../../assets/images/globe_ic.png");
      background-repeat: no-repeat;
      background-position: center;
      height: 16px;
      width: 16px;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      margin-top: 2px;
      z-index: -1;
    }
  }
}

@media (max-width: 1200px) {
  [lang="ar"] .header_wrap .login_search_lang_wrap .search-field {
    width: 184px;
  }
}

#header_flex {
  .header_login_area {
    @media (min-width: $header_mobile + 1) {
      order: 2;
      position: absolute;
      left: 160px;
      top: 50%;
      transform: translateY(-50%);
    }
    @media(max-width: 1550px) {
      left: 150px;
    }
    @media(max-width: 1440px) {
      left: 34px;
    }
  }
}

.show_for_connected_user {
  html:not(.user_is_logged_in) & {
    display: none !important;
  }
}

.header_login {
  html:not(.user_is_not_logged_in) & {
    display: none !important;
  }
}

@media (max-width: 1550px) {
  /*New Header*/
  .header_wrap {
    .campus_logo {
      margin-left: 30px;

      img {
        width: 327px;
      }
    }

    .social-logo {
      height: 90px;

      &.digital-isreal-logo {
        height: 84px;
        margin-right: 20px;
      }
    }

    .lang {
      margin: 0 20px 0 21px;
    }
  }

}

@media(max-width: 1440px) {
  .header_wrap {
    .header_container {
      padding-right: 4px;
      padding-left: 4px;
    }

    .campus_logo {
      margin-left: 0px;

      img {
        width: 307px;
      }
    }

    .social-logo {
      &.digital-isreal-logo {
        margin-right: 0px;
        margin-left: 0;
      }
    }

    .lang {
      margin-right: 53px;
      margin-left: 10px;

      &:before {
        left: 43px;
      }
    }

    .social-logo {
      margin: 0 14px;
    }
  }
}

@media (min-width: $header_mobile + 1) and (max-width: 1199px) {
  .header_wrap {
    .campus_logo img {
      width: 269px;
    }

    .social-logo {
      height: 67px;
      margin: 0 8px;

      &.digital-isreal-logo {
        height: 61px;
      }
    }
  }
}

@media (max-width: $header_mobile) {

  /*header*/
  .above-banner {
    padding-bottom: 0;
    position: relative;
    background-color: #fff;
    z-index: 9999;
  }
  .menu-item-object-wpml_ls_menu_item.menu-item-wpml-ls-83-ar {
    padding-right: 20px;
    padding-left: 20px;
  }
  .menu-header ul li {
    /*display: block;*/
    padding: 25px 26px 8px 40px;
    background: transparent;
  }
  .menu-header ul li:first-child {
    /*padding: 25px 40px 8px 25px;*/
  }
  .login {
    padding-right: 0;
  }
  .menu-language-menu-container ul.nav-lang {
    margin: 3px 0 10px;
  }
  .menu-language-menu-container {
    padding-top: 0;
  }
  .wpml-ls-native {
    color: black;
  }
  .search-form-header .search-field:focus {
    background-color: #3ca0ae;
    border: none;
    box-shadow: none;
    color: white
  }
  .search-form-header .group-search-form:before {
    content: " ";
    background-image: url("../images/searchWhite.png");
    width: 70px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center left;
  }
  .search-form-header .search-field::placeholder {
    color: white;
    font-size: 18px;
  }
  .search-form-header .group-search-form {
    background-color: #3ca0ae;
    height: 48px;
  }
  .search-form-header .search-field {
    background-color: #3ca0ae;
  }
  .search-form-header .search-submit {
    display: none;
  }
  .header {
    position: relative;
    padding-bottom: 12px;
    padding-top: 12px;
    height: 85px;
    z-index: 2040;
    background: white;
  }
  .campus-logo {
    padding: inherit;
  }
  .position-header-mobile {
    position: static !important;
    height: 100%;
  }
  .search-form-header {
    position: absolute;
    top: 0;
    right: 0%;
    width: 100%;
  }
  .nav-mobile-campus-inner {
    padding: 8% 0;
    margin-top: 27px;
  }
  body .nav-mobile-campus {
    position: fixed;
    display: none;
    background-color: white;
    left: 0;
    right: auto;
    width: 100%;
    z-index: 4;
    overflow: auto;
    height: calc(100% - 103px);
    top: 103px;
  }
  .menu_open {
    #ChatBotAvatar {
      visibility: hidden;
    }

    iframe#ChatBotFrame {
      display: none !important;
    }
  }
  .navbar-light.navbar-mobile-button-opened .navbar-toggler-icon {
    background-image: url("../images/x.png");
    width: 20px;
    height: 20px;
  }
  .menu-header ul li:first-child {
    /*padding: 0 19px;*/
  }
  .header-nav .nav > li {
    display: block;
    width: 274px;
  }
  .menu-language-menu-container ul {
    text-align: right;
  }
  .login ul li {
    display: block;
    width: 100%;
  }
  .menu-header ul li:last-child {
    /*padding-left: 38px;*/
    /*display: block;*/
  }
  .seperator {
    opacity: 0;
    position: absolute;
    right: 0;
  }
  .navbar-mobile-button {
    background: transparent;
    border: none;
  }
  .navbar-toggler-icon.navbar-mobile-burger {
    width: 30px;
    height: 55px;
  }
  .logo-header {
    margin-right: 7px;
  }
  /*New Header*/
  .header_wrap {
    .header_container {
      padding: 0;
    }

    .login {
      ul li {
        display: inline-block;
        width: auto;
      }

      &.login-desktop {
        a {
          font-size: 14px;
        }

        .login-item {
          &:after {
            height: 13px;
            width: 1px;
            margin: 0 5px 0 0;
          }

          &:before {
            height: 13px;
            background-size: contain;
            margin: 0px 0 0px 2px;
          }
        }
      }
    }

    .user-connect {
      li .user-information {
        font-size: 14px;
        margin-left: 9px;
      }
    }

    .images-wrap {
      box-shadow: 0px 3px 6px #00000029;
      z-index: 4;
      padding: 9px 62px 5px 15px;
    }

    .img_logo_wrap {
      margin-bottom: 11px;
    }

    .social-logo {
      margin-left: 17px;
      margin-right: 12px;
    }

    .wrap-side-menu {
      background-color: #F5F5F5;
      padding: 12px 64px 12px 36px;
    }

    .login_search_lang_wrap {
      .search-field {
        width: 216px;
        height: 52px;
        z-index: 1;

        &::placeholder {
          font: normal normal normal 18px/37px Assistant;
        }
      }

      .header_login_area .user-connect {
        margin-left: 16px;
      }
    }

    nav.header-nav {
      width: 100%;
    }

    .navbar-toggle.navbar-light.navbar-mobile-button {
      padding: 40px 23px 0 34px;

      span {
        display: block;
        background-color: #707070;
        border-radius: 8px;
        margin-bottom: 7.2px;
        width: 38px;
        height: 5px;
      }
    }

    .nav-campus-inner-wrap {
      padding: 0;
      background-color: #fff;
      margin: 0;
    }

    .nav-mobile-btn-wrap {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 9;
    }

    .nav-campus-inner-wrap {
      .nav-mobile-campus-inner {
        margin: 0;
        padding: 0 37px;
        margin-top: 20px;

        .menu-language-menu-container ul li {
          line-height: 1;
          height: 59px;

          &:last-child {
            height: 36px;
          }
        }

        .lang {
          margin: 0;
          border-top: 2px solid #70707029;
          padding-bottom: 26px;

          &:before {
            content: none;
          }
        }

        ul li {
          margin: 0;
          width: 100%;

          a {
            margin: 15px 0;
            display: block;

            &:after {
              content: none;
            }
          }

          &:first-child {
            margin: 0;
          }
        }
      }

      nav.header-nav ul {
        height: 100%;
        margin-bottom: 13px;
      }
    }

    nav.header-nav {
      .nav, .nav-lang {
        padding: 0 9px;
      }
    }

    .menu-language-menu-container {
      width: 100%;
      position: relative;
      box-shadow: none;
      padding: 0;
      top: 0;
      left: 0;
      transform: none;

      &:before {
        content: none;
      }
    }

    .languages_menu_wrap .dropdown_langs_btn {
      text-align: right;
      font: normal normal 500 22px/28px Assistant;
      line-height: 1.5;
      margin: 23px 0 4px;
      position: relative;
      width: auto;
      padding: 1px 6px 0 29px;
      margin-bottom: 15px;

      &:after {
        top: 50%;
        left: 4px;
        width: 6px;
        height: 6px;
        margin-top: -2px;
        border-right-color: #70C6D1;
        border-bottom-color: #70C6D1;
        -webkit-transform: rotate(45deg) translatex(-50%);
        -moz-transform: rotate(45deg) translatex(-50%);
        -ms-transform: rotate(45deg) translatex(-50%);
        -o-transform: rotate(45deg) translatex(-50%);
        transform: rotate(45deg) translatex(-50%);
      }

      &.open:after {
        top: 50%;
      }
    }
  }
  .menu_open {
    overflow: hidden;
  }

  @media(max-width: 767px) {
    #connected_user_desktop_and_mobile {
      text-align: justify;
      margin-right: 30px;
      margin-left: 30px;
      display: block;


      &:before {
        position: absolute;
      }

      & > * {
        display: inline-block;
      }

      .header_connected_label {
        color: #70C6D1;
        font: normal normal normal 14px/18px Assistant;
      }

      .user-information {
        html[lang = "en-US"] & {
          padding-left: 30px;
        }

        html:not([lang = "en-US"]) & {
          padding-right: 30px;
        }
      }

      &:after {
        content: '';
        display: inline-block;
        width: 100%;
        border-bottom: 1px solid #707070;
      }
    }
  }
}

@media(max-width: 767px) {
  .header_wrap {
    .campus_logo {
      img {
        width: 166px;
      }
    }

    .social-logo {
      height: 38px;
    }

    .social-logo {
      &.digital-isreal-logo {
        height: 34px;
      }
    }

    .navbar-toggle.navbar-light.navbar-mobile-button {
      padding: 28px 9px 9px;

      span {
        margin-bottom: 4.2px;
        width: 16px;
        height: 2px;
      }
    }

    .has_profile_icon:before {
      width: 8px;
      height: 11px;
      background-size: cover;
      margin: 0 0px 3px 2px;
    }

    .login-item:after {
      height: 15px;
      width: 1px;
    }

    .login_search_lang_wrap {
      .search-field {
        width: 138px;
        height: 30px;
        font-size: 14px;
        padding: 0 12px 0 33px;

        &::placeholder {
          font-size: 14px;
          line-height: 1.5;
          padding: 3px 0 0 33px;
        }

        &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
          line-height: 2;
        }

        &::-moz-placeholder { /* Mozilla Firefox 19+ */
          line-height: 2;
        }
      }

      .search-submit {
        width: 24px;
        height: 24px;
        background-size: 8.5px;
        left: 4px;
      }
    }

    .images-wrap {
      padding: 9px 15px 0 15px;
    }

    .wrap-side-menu {
      padding: 9px 11px 6px 12px;
    }

    .nav-campus-inner-wrap {
      .nav-mobile-campus-inner {
        margin-top: 0;

        ul li a {
          font: normal normal 600 14px/60px Assistant;
          line-height: 1;
          margin: 22px 0;
        }
      }

      nav.header-nav ul {
        margin-bottom: 0;
      }

      .menu-language-menu-container {
        margin-top: 6px;

        ul li a {
          margin: 0;
        }
      }
    }

    .languages_menu_wrap .dropdown_langs_btn {
      font: normal normal 600 14px/1px Assistant;
      margin-bottom: 4px;
      padding: 0 9px;
      line-height: 1.5;
      margin-top: 22px;

      &:after {
        left: -16px;
      }
    }

    .nav-lang li a span {
      &:before {
        font: normal normal 600 14px/60px Assistant;
      }
    }

    .user-connect {
      .link-my-courses, .user-information {
        font: normal bold normal 14px/18px Assistant;
      }
    }

    .user-connect {
      &:before {
        height: 13px;
        background-size: contain;
        margin: 0px 0 0px 2px;
      }
    }
  }
  .menu-header a,
  .header_login a,
  a.link-my-courses {
    font: normal normal normal 14px/18px Assistant;
  }
  .login_search_lang_wrap {
    .search-field {
      &::placeholder {
        font-size: 14px;
      }
    }
  }
  #connected_user_desktop_and_mobile {
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 22px 0 0;
    position: relative;

    &:before {
      margin-bottom: 0;
      margin-top: 4px;
    }

    .user-information {
      margin-right: 22px;
      font: normal 600 normal 14px/18px Assistant;
    }

    &:after {
      width: 100%;
      position: absolute;
      left: 0;
      bottom: -12px;
      border: 1px solid #70707029;
    }
  }
}

@media(max-width: 767px) {
  html:not([lang="en-US"]) #connected_user_desktop_and_mobile .user-information {
    padding: 0;
  }
}

@media(max-width: 335px) {
  .header_wrap {
    .social-logo {
      margin: 0 5px;

      &.digital-isreal-logo {
        margin-left: 0;
      }
    }

    .wrap-side-menu {
      padding-left: 3px;
      padding-right: 3px;
    }

    .user-connect li .user-information {
      margin-left: 0;
    }
  }
}
