/* Popup 15/12/2021 */

.mobile-menu-popup {
    right: unset;
    left: 0;
    transform: translateX(-100%);

    .nav-mobile {
        .mobile-list-item {
            padding-right: unset;
            padding-left: 13px;

            .list-item-content {
                text-align: left;
            }
            img {
                margin-left: unset;
                margin-right: 7px;
            }
            a {
                img.mobile-menu-vector {
                    left: unset;
                    right: 0;
                }
            }
        }
    }
}

/* Header */
.user_is_logged_in .header_wrap .has_profile_icon:before{
    margin: -4px 4px 0 0;
    @media(max-width: 991px){
        margin: 0px 2px 0px 0px;
    }
}
.header_wrap {
    .nav-mobile-btn-wrap {
        .navbar-toggle.navbar-light.navbar-mobile-button {
            @media(max-width: 767px){
                padding: 16px 15px 10px;
            }
        }
    }
    .user-login-container {
        margin-left: 0;
        margin-right: 29px;
        .menu-user-menu-container {
            left: unset;
            right: 29px;
            .nav-user {
                .user-list-item {
                    padding-right: unset;
                    padding-left: 5px;
                    img.mobile-menu-vector {
                        transform: rotate(270deg);
                        left: unset;
                        right: 0;
                    }
                    .list-item-content {
                        text-align: left;
                        font-size: 13px;
                    }
                    img {
                        margin-right: 7px;
                        margin-left: unset;
                    }
                }
            }

            .secondary-lang-menu {
                left: unset;
                right: 154px;
            }
        }
        .dropdown_langs_btn {

            padding-left: 20px;
            padding-right: unset;
        }
    }
    .control-container {
        @media(max-width: 991px){
            margin-right: 15px;
        }
    }
    .logo-container {
        margin-right: unset;
        margin-left: 30px;
        @media(max-width: 991px){
            margin-left: unset;
        }
    }
    .header_container {
        padding: 22px 84px 8px 45px;
        @media (max-width: 1439px){
            padding-right: 4px;
            padding-left: 4px;
        }
    }
    .campus_logo {
        margin-left: 0;
        margin-right: 42px;
    }
    .social-logo {
        &.digital-isreal-logo {
            margin-right: 0;
            margin-left: 35px;
        }
    }
    .nav-campus-inner-wrap {
        .nav-mobile-campus-inner {
            ul li {
                &:first-child {
                    margin-left: 0;
                    margin-right: 39px;
                    @media(max-width: 1400px) {
                        margin-right: 20px;
                    }
                    @media(min-width: 992px) and (max-width: 1199px) {
                        margin-right: 9px;
                    }
                }
            }
        }
    }
    .login_search_lang_wrap {
        .search-field {
            padding: 7px 55px 7px 25px;
            @media (max-width: 1200px){
                width: 193px;
            }
            @media (max-width: 991px){
                width: 216px;
            }
        }
        .search-submit {
            right: 3.64px;
            left: auto;
        }
    }
    .login-item {
        &:after {
            margin: 0 1px 0 7px;
        }
        &:before {
            margin: 0 19px 0 0px;
        }
    }
    .has_profile_icon:before{
        margin-left: 0;
        margin-right: 17px;
        @media (max-width: 767px){
            margin-right: 2px;
        }
    }
    .user-connect {
        &:before {
            margin: 0px 6px -1px 0px;
        }
    }
    .languages_menu_wrap {
        .dropdown_langs_btn {
            &:after {
                left: auto;
                right: 9px;

            }
        }
    }
    .menu-language-menu-container {
        margin: unset;
        margin-right: 40px;
        left: unset;
        transform: unset;
    }
    .lang {
        margin: 0 0 0 20px;
        &:before {
            left: 3px;
            right: unset;
        }
    }
    #header_flex .header_login_area{
        left: auto;
        right: 160px;
        @media (max-width: 1550px) {
            right: 150px;
        }
        @media (max-width: 1440px){
            right: 34px;
        }
    }
}

/*home page*/
.hero-banner {
    .banner-image {
        
        img.desktop-banner {
            left: unset;
            right: 0;
        }
        .hero-gradient {
            right: unset;
            left: 0;
            transform: rotate(180deg);
        }
        .hero-container {
            .container {
                right: unset;
                left: 185px;
                width: 550px;
                align-items: flex-start;

                .text-on-banner {
                    text-align: left;
                }

                .hero-search-form {
                    .search-field.form-control {
                        text-align: left;
                        padding-left: 30px;
                        padding-right: 5px;
                    }

                    .search-submit {
                        left: unset;
                        right: 5px;
                    }
                }
            }
        }
    }
}
@media (max-width: 991px) {
    .hero-banner {
        .banner-image {
            background: rgba(51, 52, 51, 0.7);
            .hero-container {
                .container {
                align-items: center;
                right: 0;
                left: 0;
                margin: auto;
                .text-on-banner {
                    text-align: center;
                    h5 {
                        width: 370px;
                    }
                }
            }
            }
        }

    }
}
@media (max-width: 768px) {
    .hero-banner {
        .banner-image {
            img.mobile-banner {
                left: unset;
                right: 0;
            }
            .hero-container {
                .container {
                    width: 90%;

                    .text-on-banner {
                        margin-bottom: 15px;

                        h1 {
                            font-size: 36px;
                            line-height: 40px;
                        }

                        h5 {
                            width: 275px;
                        }
                    }

                }
            }
        }

    }
}

//Slick Arrows
.slick-prev {
    right: unset;
    left: -60px;
    -webkit-transform: unset;
    transform: rotate(0);
}

.slick-next {
    left: unset;
    right: -60px;
    transform: rotate(180deg);
}

/* Slick Stripe */
.home-page-courses-stripe {
    .stripe-container {
        .stripe-header {
        .show-all-courses {
            p {
                &:after {
                    margin-right: unset;
                    margin-left: 4px;
                }
            }
        }
    }
    }
}

.home-page-nerative-stripe {
    .stripe-container {
        .stripe-header {
        .stripe-title {
            span {
                margin-left: unset;
                margin-right: 10px;
            }
            img {
                margin-left: unset;
                margin-right: 10px;
            }
        }
        }
    }
}

.home-page-tags-stripe {
    .stripe-container {
        .tags-stripe-header {
            span {
                margin-left: unset;
                margin-right: 10px;
            }
        }
        .tags-div {
            .tag-item {
                a {
                    p {
                        &:after {
                            margin-right: unset;
                            margin-left: 8px;
                        }
                    }
                }
            }
        }
    }
}

.home-page-info-stripe {
    .stripe-container {
        .info-stripe-header {
            span {
                margin-left: unset;
                margin-right: 10px;
            }
        }
    }
}

.home-page-institutions_stripe {
    .stripe-container {
        .institution-header {
            span {
                margin-right: 10px;
                margin-left: unset;
            }
        }
    }
}

.home-page-goals-stripe {
    .stripe-container {
        .goals-stripe-header {
            .stripe-title {
                span {
                    margin-left: unset;
                    margin-right: 10px;
                }
            }
        }
        .goals-slider {
            .goal-item {
                .goal-item-content {
                    span {
                        &:after {
                            padding-right: unset;
                            padding-left: 5px;
                        }
                    }
                }
            }
        }
    }
}

.home-page-testimonials_stripe {
    .stripe-container {
        .testimonials-stripe-header {
            span {
                margin-left: unset;
                margin-right: 10px;
            }
        }
        .testimonials-slider {
            button.slick-prev {
                right: unset;
                left: -20px;

            }
            button.slick-next {
                left: unset;
                right: -20px;

            }
        }
    }
}

.home-page-myCourses-stripe {
    .stripe-container {
        .myCourses-slider {
            .course-stripe-item {
                .item-content {
                    h3 {
                        text-align: left;
                    }

                    p.institution-name {
                        text-align: left;
                    }

                    p.course-progress {
                        text-align: left;
                    }
                }
            }
        }
    }
}

.nerative-class {
    .slick-list {
        .slick-track {
            .course-stripe-item {
                .item-content {
                    h3 {
                        text-align: left;
                    }
                }
                .tags-div {
                    margin: 0 10px 0 0;
                }
            }
        }
    }
}

.courses-stripe {
    .course-stripe-item {
        .course-img {
            .info-button {
                right: unset;
                left: 10px;
            }
        }
        .item-content {
            height: 87px;
            margin: 10px;
            h3 {
                text-align: left;
            }
            p {
                text-align: left;
            }
        }
        .tags-div {
            justify-content: left;
            span {
                margin-left: unset;
                margin-right: 10px;
            }
        }
    }
}

body {
    .course-item-hover {
        a{
           .item-content {
               margin: 10px 14px 7px 20px;
               h3 {
                   text-align: left;
               }
               p {
                   text-align: left;
               }
           }
            .tags-div {
                justify-content: left;
                margin-right: unset;
                margin-left: 20px;
                span {
                    margin-left: unset;
                    margin-right: 10px;
                    @media (max-width: 768px){
                        margin-left: unset;
                        margin-right: 5px;
                    }
                }
            }
            .course-details {
                margin: 0 14px 15px 20px;
            }
        }
    }
}

.course-popup-modal {
    .popup-header {
        padding: 22px 17px 10px 0;
        .close {
            float: left;
        }
    }
    .course-content {
        .course-img {
            margin: 0 25px 0 15px;
            @media (max-width: 389px){
               margin-right: 15px;
            }
        }
        .course-details {
            justify-content: left;
            .course-header {
                h3 {
                    text-align: left;
                }
                p {
                    text-align: left;
                }
            }
            .tags-div {
                justify-content: left;
                span {
                    margin-left: unset;
                    margin-right: 10px;
                    @media (max-width: 768px){
                        margin-left: unset;
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}
@media (max-width: 650px) {
    .home-page-myCourses-stripe {
        .stripe-container {
            .stripe-header {
                span {
                    margin-right: 10px;
                    margin-left: 0;
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .courses-stripe {
        margin: 20px 0 20px 30px ;
    }

    .home-page-myCourses-stripe {
        .stripe-container {
            .myCourses-slider {
                margin: 20px 0 0 30px;
            }
        }
    }
}

@media (max-width: 480px) {
    .courses-stripe {
        margin: 20px 0 20px 10px;
    }

    .home-page-myCourses-stripe {
        .stripe-container {
            .stripe-header {
                margin-right: unset;
                margin-left: 5px;

                span {
                    margin-left: 10px;
                }
            }
            .myCourses-slider {
                margin: 15px 0 0 10px;
            }
        }
    }

    .home-page-courses-stripe {
        .stripe-container {
            .stripe-header {
                margin-right: unset;
                margin-left: 15px;
            }
        }
    }
}


.all_courses:before{
    transform: scaleX(-1);
    left: 0;
    width: 313px;
    background-image: url(../images/school.png);
}
.search-form-header form button{
    left: auto;
    right: -24px;
}
.menu-header ul li:first-child{
    /*padding-left: 0;*/
}
.search-field.form-control{
    padding-right: 30px;
    padding-left: 5px;
}
.campus-logo {
    /* padding: 0px 0 12px 0; */
    padding-bottom: 12px;
    padding-left: 16px;
}
.video_boxes_wrap:before{
    width: 108%;
    height: 89%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.login_lang_wrap{
    right: 0;
    left: auto;
}
.centering-on-banner{
    right: auto;
    left: 10%;
    text-align: left;
}
.faq-question:after,
.faq-question:before{
    left: auto;
    right: 27px;
}
.faq-question{
    text-align: left;
    @media (max-width: 767px) {
        padding: 17px 50px 17px 13px;
    }
}
.faq-title-inner{
    @media (max-width: 991px) {
        text-align: left;
    }
}

.scroll-top{
    left: 80px;
    @media (max-width: 767px) {
        left: 30px;
        right: auto;
    }
}
.school-item-text-wrap {
    height: 169px;
}
.campus-section:before{
    left: 0;
    right: auto;
    border-top-right-radius: 100%;
    border-top-left-radius: 0;
}
/*Course*/
.single-project #banner_half_img .text-on-banner.about-course{
    left: 0;
    @media (max-width: 991px) {
        text-align: center;
    }
}
.single-h_course, .single-hybrid_institution{
    @media (max-width: 1199px) and (min-width: 991px){
        .banner-wrapper {
            height: 531px;
        }
    }
    @media (max-width: 1199px) {
        #banner_half_img{
            #hybrid_banner_h1 {
                max-height: 188px;
            }
            #hybrid_banner_content {
                max-height: 173px;
            }
            #hybrid_banner_btn {
                margin-top: 13px;
            }
        }
    }
}
html[lang="en-US"] .single-h_course, html[lang="en-US"] .single-hybrid_institution{
    #banner_half_img {
        #hybrid_banner_h1{
            padding-bottom: 3px;
        }
        .text-on-banner.about-course {
            margin-right: 0;
            margin-left: 67px;
            left: 0;
            @media (max-width: 991px) {
                margin-left: 0;
                text-align: center;
            }
        }
        @media (max-width: 1440px) {
            #hybrid_banner_content{
                max-height: 146px;
            }
            #hybrid_banner_btn {
                margin-top: 13px;
            }
        }
        @media (max-width: 1199px) {
            #hybrid_banner_content{
                max-height: 171px;
            }
        }
        @media (max-width: 991px) {
            #hybrid_banner_content{
                max-height: 64px;
            }
            #hybrid_banner_h1{
                text-align: left;
                padding-left: 33px;
                padding-right: 0;
                max-height: 68px;
                &:before {
                    left: 13px;
                }
            }
            div#hybrid_banner_content{
                text-align: left;
            }
        }
        @media (max-width: 767px) {
            #hybrid_banner_content{
                max-height: 123px
            }
            #hybrid_banner_h1{
                max-height: 115px;
            }
        }
    }
}
.single-h_course .org-logo:nth-child(odd){
    @media (max-width: 767px) {
        right: 0;
        left: auto;
    }
}
#hybrid_course_more_items_wrap {
    .course-item-with-border{
        float: left;
    }
    .more-courses-interest{
        text-align: left;
    }

}
html[lang="en-US"] #hybrid_course_team {
    @media (max-width: 991px) {
        .content-lecturer{
            margin-left: 8px;
            margin-right: 0;
            text-align: left;
            padding-right: 0;
            padding-left: 75px;
        }
        .img-lecturer {
            right: auto;
            left: 20px;
            transform: translate(-50%, -50%);
        }
        .single-lecturer {
            margin-right: 0;
            margin-left: 32px;
            padding-right: 24px;
        }
        .hybrid_course_team_side:first-child:after {
            left: 50%;
            right: auto;
        }
    }
}
/*Project*/
#muni_page_banner {
    max-height: 284px;
    @media (max-width: 1440px) {
        max-height: 297px;
    }
    @media (max-width: 1199px) {
        max-height: 300px;
    }
    @media (max-width: 991px) {
        max-height: 197px;
    }
    @media (max-width: 767px) {
        max-height: 145px;
    }

    span{
        &:first-child {
            max-height: 125px;
            line-height: 0.96;
            @media (max-width: 1440px) {
                max-height: 162px;
            }
            @media (max-width: 1199px) {
                max-height: 149px;
            }
            @media (max-width: 991px) {
                max-height: 101px;
            }
            @media (max-width: 767px) {
                max-height: 59px;
                line-height: 1.2;
            }
        }
        @media (max-width: 767px) {
            &:last-child {
                line-height: 1.4;
            }
        }
    }
}
/*Footer*/
//LTR FOOTER
.footer-section .nav>li{
    >a{
        padding-left: 0px;
        padding-right: 8px;
    }
    @media(max-width: 1199px) {
        a{
            margin-right: 0;
            margin-left: 94px;
        }
        &:nth-child(even) a {
            margin-left: 44px;
            margin-right: 0;
        }
    }
}
#footer_nav ul{
    margin-right: 0;
    margin-left: 64px;
    @media(max-width: 1634px) {
        margin-left: 10px;
        margin-right: 0;
    }
    @media(min-width: 1440px) and (max-width: 1634px) {
        margin-left: 20px;
        margin-right: 0px;
    }
    li{
        margin-right: 0;
    }
}
footer .footer-section{
    .logo-footer {
        @media(max-width: 1634px) {
            margin-right: 2px;
            margin-left: 0;
        }
    }
    .footer-content {
        margin-right: 0px;
        margin-left: 11px;
    }
    #footer_content_campus_logo{
        padding-left: 0;
        margin-right: 58px;
        margin-left: 0;
        .logo-footer{
            margin-right: 2px;
            margin-left: 0;
        }
        @media(max-width: 1634px) {
            margin-left: 0px;
            margin-right: 10px;
        }
        @media(max-width: 1199px){
            margin: 0;
            margin-bottom: 95px;
        }
    }
    #footer_content_social_logo{
        padding-right: 0;
        margin-right: 5px;
        margin-left: 0;
        .logo-footer{
            margin-left: 0;
            margin-right: 8px;
        }
        @media(max-width: 1634px) {
            .footer-content{
                margin-left: 0;
            }
        }
        @media(max-width: 1199px){
            margin: 0;
            margin-bottom: 95px;
        }
    }
    .inners-footer-items{
        padding-left: 42px;
        padding-right: 0;
        &.links_wrap{
            padding-left: 0;
        }
        ul{
            padding-left: 0;
            li{
                margin-left: 0;
                margin-right: 8px;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
        @media(max-width: 1634px) {
            ul {
                padding-left: 0;
            }
            &.sahring_wrap{
                padding: 0 15px;
            }
        }
    }
    @media(max-width: 1199px) {
        .inners-footer-items{
            &.links_wrap{
                border-left: 1px solid #ffffff80;
                border-right: 0;
            }
            &.sahring_wrap{
                padding: 0;
            }
        }
        #footer_content_social_logo{
            .logo-footer{
                margin-left: 0;
                margin-right: 19px;
            }
        }
        .footer-content {
            max-width: 265px;
        }
    }
    @media(max-width: 991px){
        #footer_content_social_logo{
            text-align: left;
            .logo-footer{
                margin-right: 0;
            }
        }
        #footer_content_campus_logo .footer-content{
            margin-left: 0;
        }
        .nav > li {
            a{
                margin-right: 0;
                margin-left: 44px;
            }
            &:nth-child(even) a{
                margin-left: 0;
            }
        }
    }
    @media(max-width: 767px){
        #footer_content_social_logo{
            text-align: center;
            margin-bottom: 29px;
            .logo-footer {
                margin: 0 auto;
            }
        }
        #footer_content_campus_logo{
            margin-bottom: 31px;
            .footer-content{
                max-width: 265px;
            }
            .logo-footer{
                margin-right: 0;
            }
        }
        .inners-footer-items{
            &.sahring_wrap{
                padding: 22px 0 0;
            }
            &.links_wrap{
                border-left: 0;
            }
        }
        .nav > li{
            &:nth-child(even) a{
                margin-right: 0;
                margin-left: 12px;
            }
            a{
                margin-right: 0;
                margin-left: 0;
                padding-left: 0;
                line-height: 1.4;
            }
        }
        nav#footer_nav{
            .menu-footer-menu-container {
                max-width: 256px;
                margin: 31px auto 0;
            }
            ul{
                margin-left: 23px;
                margin-right: 0;
            }
        }
    }
}
/* search course page */
.term-name{
    padding-left:20px;
    padding-right: 0;
}
.wrap-term-and-sum:before{
    left: 0;
    right: auto
}
#course_load_more:after{
    right: 55%;
    left: auto
}
.text-before-looking,
.looking-for-content{
    text-align: left;
}
.checkbox-filter-search:checked ~ .wrap-term-and-sum:after{
    left: 4px;
}
.search-course-form .group-search-form:after{
    right: 0;
    left: auto;
}
.clear-link {
    text-align: right;
}
.facebook:before,
.instegram:before,
.linkdin:before,
.twitter:before,
.google:before,
.email:before,
.phone:before,
.fax:before,
.website:before{
    margin-left: 0;
    margin-right: 7px;
}
.info-course-list *:not(img):not(.wrap-info-single-course) {
    background-position: left center;
}
.info-course-list-bold {
    padding-right: 0;
    padding-left: 22px;
}
.content-single-course-inners {
    padding-right: 9%;
    padding-left: 0;
}
.title-bar, .duration-bar.title-bar {
    background-position: left top;
    padding-right: 0 !important;
    padding-left: 30px;
}
.search-course-form .search-submit {
    right: 5px;
    left: auto;
}
.breadcrumbs-campus a:after {
    border-left: 6px solid #333333;
    border-right: 0;
    left: 100%;
    right: auto;
    @-moz-document url-prefix() {
        margin-left: 5px;
    }
}
.institution-page.breadcrumbs-campus a:after,
.search-tags.breadcrumbs-campus a:after,
.about-course.breadcrumbs-campus a:after{
    border-left: 6px solid #ffffff;
    border-right: 0;
}
.text-on-banner.background-instead-banner h1 {
    text-align: left;
}
.gray-on-banner.gray-part:after {
    /*width: 60%;*/
    /*right: -28%;*/
    /*left: auto;*/
    /*-webkit-clip-path: circle(50% at 0 50%);*/
    /*clip-path: circle(88% at 0 50%);*/
    right: 0;
    transform: rotate(-30deg);
    transform-origin: right top;
    left: auto;
}

.single-lecturer-popup.active .lecturer-content{
    direction: rtl;
}

.testimonials-lobby-knowledge .slick-next{
    right: 41px;
}
.testimonials-lobby-knowledge .slick-prev{
    left: -37px;
}
.content_single_project .activity_btn_project{
    float: right;
}
@media (max-width: 1511px){
    .gray-on-banner.gray-part:after {
        width: 85%;
    }
}
@media (max-width: 1070px){
    .gray-on-banner.gray-part:after {
        width: 95%;
    }
}
@media (max-width: 767px){
    #course_load_more:after {
        left: 36%;
    }
    .menu-language-menu-container ul {
        text-align: left;
    }
    .search-form-header .group-search-form:before {
        background-position: center right;
    }
    body .nav-mobile-campus{
        left: auto;
        right: 0;
    }
    html[lang="en-US"] #connected_user_desktop_and_mobile{
        .user-information {
            padding-left: 0;
            margin-left: 22px;
            margin-right: 0;
        }
    }
    .information-bar-inner{
        .start-date-title-bar,
        .duration-bar.title-bar,
        .price-course-bar.title-bar {
            background-position: center left;
            padding-right: 0!important;
            padding-left: 19px!important;
        }
    }
}
.courses-section .slick-next{
    margin-right: -47px;
    margin-left: auto;
}
.courses-section .slick-prev{
    margin-left: -47px;
    margin-right: auto;
}
.testimonials-slider-section .slick-prev{
    left: -28px;
}
.testimonials-slider-section .slick-next{
    right: -19px;
}
@media (max-width: 1550px) {
    /*New Header*/
    .header_wrap{
        .campus_logo{
            margin-right: 30px;
            margin-left: 0px;
        }
        .social-logo{
            &.digital-isreal-logo{
                margin-right: 0;
                margin-left: 20px;
            }
        }
        .user-connect .user-information{
            margin-left: 0;
            margin-right: 14px;
        }
    }
}
@media(max-width: 1440px) {
    /*New Header*/
    .header_wrap{
        .campus_logo{
            margin-right: 0;
        }
        .social-logo{
            &.digital-isreal-logo{
                margin-left: 0px;
            }
        }
        .login.login-desktop .login-item:before{
            margin: 0 12px 0 0;
        }
    }
}
@media(max-width: 1070px) {
    .courses-section .slick-prev {
        margin-left: -24px !important;
    }
    .courses-section .slick-next {
        margin-right: -24px !important;
    }
}
@media (max-width: 991px) {
    /*New Header*/
    body .nav-mobile-campus{
        right: 0;
        left: auto;
    }
    .header_wrap{
        .header_container{
            padding: 0;
        }
        .login{
            &.login-desktop{
                .login-item{
                    &:after{
                        margin: 0 0px 0 5px;
                    }
                    &:before{
                        margin: 0px 2px 0px 0px;
                    }
                }
            }
        }
        .user-connect{
            &:before{
                margin: 0px 2px 0px 0px;
            }
            li .user-information{
                margin-right: 9px;
                margin-left: 0;
            }
        }
        .social-logo{
            margin-right: 17px;
            margin-left: 12px;
        }
        .wrap-side-menu{
            padding: 9px 26px 6px 11px;
        }
        .login_search_lang_wrap{
            .search-field {
                padding: 0 33px 0 12px;
            }
            .search-submit{
                right: 4px;
                left: auto;
            }
        }
        .nav-campus-inner-wrap{
            margin: 0;
        }
        .nav-mobile-btn-wrap{
            right: 0;
            left: auto;
        }
        .nav-campus-inner-wrap{
            .nav-mobile-campus-inner{
                margin: 0;
                ul li{
                    margin: 0;
                    &:first-child{
                        margin: 0;
                    }
                }
            }
        }

        .menu-language-menu-container{
            right: 0;
            left: auto;
            padding: 0;
            ul li{
                text-align: left;
            }
        }
        .languages_menu_wrap .dropdown_langs_btn{
            text-align: left;
            padding: 1px 29px 0 6px;
            &:after{
                right: 4px;
                left: auto;
            }
        }
        .nav-lang{
            margin: 3px 0 10px;
        }
    }
}
@media(max-width: 767px) {
    .courses-section .slick-prev {
        margin-left: 0px !important;
    }
    .courses-section .slick-next {
        margin-right: 0px !important;
    }
    .header_wrap{
        .wrap-side-menu {
            padding: 9px 12px 6px 11px;
        }
        .login_search_lang_wrap .search-field{
            width: 138px;
        }
    }
}
.banner-wrapper.gray-part:before{
    right: -100px;
    top: 0;
    transform-origin: top left;
    left: auto;
    transform: rotate(-30deg);
}
#popup_new_event {
    .information-bar-inner {
        padding: 25px 138px 0 90px;
        @media(max-width: 1439px) {
            padding: 25px 108px 0 60px;
        }
    }
    .gray-on-banner.gray-part:after {
        transform: rotate(-27deg);
    }
    .popup-about-course-video {
        left: 56px;
        right: auto;
        @media (max-width: 991px) {
            left: calc(50% - 45px) !important;
            right: auto !important;
        }
    }
    .title-bar {
        padding-right: 0;
        padding-left: 37px;
        background-position: left center;
        @media (max-width: 991px) {
            background-position: left bottom;
        }
        &.start-date-title-bar, &.duration-bar, &.price-course-bar{
            @media (max-width: 991px){
                padding-left: 23px !important;
                padding-right: 0!important;
            }
        }
    }
    .bar-info {
        text-align: left;
    }
    .icons-on-banner {
        transform: rotate(243.5deg);
        margin-left: -193px;
        margin-right: auto;
        &.icons-on-banner-2 {
            margin-left: -32px !important;
            margin-right:auto!important;
        }
    }
    .about-course .title-course{
        @media (max-width: 767px) {
            text-align: left;
        }
    }
    .excerpt-course {
        text-align: left!important;
    }
}
